/*//META{"name":"ChilledCyan","description":"A Mixter Theme","author":"Mixter213","version":"2.0"}*//**/

:root{
/*Main background(the default black)*/
	--MainH:190;
	--MainS:5%;
	--MainL:15%;

/*Sub background(Cyan borders and misc background)*/
	--SubH:190;
	--SubS:100%;
	--SubL:50%;
}

/* transparency */
.guildsWrapper-5TJh6A,#app-mount .layer-3QrUeG,#app-mount .layers-3iHuyZ,#app-mount .title-3qD0b-,#app-mount .messagesWrapper-3lZDfY,#app-mount .noChannel-Z1DQK7,#app-mount .headerBar-UHpsPw,#app-mount #friends,#app-mount #friends .friend-table-add-header,#app-mount .friends-table,#app-mount .content-yTz4x3,#app-mount .chat-3bRxxu,#app-mount .chat-3bRxxu form,#app-mount .typing-2GQL18,#app-mount .messages-3amgkR .divider-3gKybi span,#app-mount .messages-3amgkR .divider-3gKybi:before,.container-PNkimc,#app-mount .ui-standard-sidebar-view .sidebar-region,#app-mount .ui-standard-sidebar-view .content-region{background:transparent}

/* main backgrounds */
.container-2lgZY8 {background: hsl(var(--MainH),var(--MainS),calc(var(--MainL) - 0% ))}
#app-mount .ui-standard-sidebar-view{background: hsl(var(--MainH),var(--MainS),calc(var(--MainL) - 0% ))}

/* crash screen */
.themeDark-3Ap_7i{background-color:transparent}
.lookFilled-1Gx00P.colorBrand-3pXr91{background: hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 20% ));border:3px solid hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 30% ));border-radius:10px}
.lookFilled-1Gx00P.colorBrand-3pXr91:hover{background:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 30% ));border-color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 20% ))}
.themeDark-3Ap_7i .note-450gs3{color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 20% ))}

/* TitleBar */
.wordmark-2iDDfm,.winButton-iRh8-Z svg {display:none}
.titleBar-AC4pGV{position: absolute;top:0;right:0;height:48px;margin:0;padding:0;-webkit-app-region:no-drag;border-bottom:1px solid hsla(0,0%,0%,.2);background:rgb(24,25,26)}
.winButton-iRh8-Z,.macButton-c_Adir{top:25%}
.winButtonClose-1HsbF-,.macButtonClose-MwZ2nf {background: url("https://cdn.discordapp.com/attachments/406778960484237322/406779041270464522/btn-close.svg") center}
.winButtonMinMax-PBQ2gm,.macButtonMaximize-2FMHAO {background: url("https://cdn.discordapp.com/attachments/406778960484237322/406779041064943617/btn-maximize.svg") center}
.winButtonMinMax-PBQ2gm:last-child,.macButtonMinimize-3EJ6wo {background: url("https://cdn.discordapp.com/attachments/406778960484237322/406779041409138688/btn-minimize.svg") center}
.title-3qD0b-:after,.titleCall-_b9o8P:after,.headerBar-UHpsPw:after{content:"";background:hsla(0,0%,85%,.1);height:22px;width:1px}
.title-3qD0b-,.headerBar-UHpsPw{width:94.15%}
#app-mount .ui-standard-sidebar-view:after{content:"";position: absolute;top:0;left:0;height:48px;width:94.4%;border-bottom:1px solid hsla(0,0%,0%,.2);-webkit-app-region:drag;z-index:1;background:rgb(24,25,26)}
#pluginNotice {margin-top: 48px}
#app-mount .headerBar-UHpsPw:hover,#app-mount .title-3qD0b-:hover{-webkit-app-region:drag}
.searchBar-6Kv8R2 .search-bar,.button-1w5pas,.topic-2QX7LI{-webkit-app-region:no-drag}
#app-mount .iconForeground-3y9f0B, #app-mount .title-1aVOXw{color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 20% ))}
#app-mount .search .search-bar{background-color:hsl(var(--MainH),var(--MainS),calc(var(--MainL) - 2% ));border:1px solid hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 30% ))}

.titleWrapper-1l0xT9{z-index:1}

/* scrollbar */
#app-mount *::-webkit-scrollbar,#app-mount *::-webkit-scrollbar-track,#app-mount *::-webkit-scrollbar-track-piece {background:transparent!important;border:none!important}
#app-mount *::-webkit-scrollbar-thumb {background:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 30% ))!important;border-color:hsl(var(--MainH),var(--MainS),calc(var(--MainL) - 0% ))!important}

/* Avatar and status */
#app-mount .mask-3OgeRz{-webkit-mask: none;mask: none}

.image-33JSyf{border-radius:10px}

#app-mount .status-2s6iDp{background-color:transparent;border:3px solid;border-radius:10px;width:27px;height:27px;bottom:-.5px;right:-.5px}
#app-mount .online-2S838R{border-color:#43b581}
#app-mount .idle-3DEnRT{border-color:#faa61a}
#app-mount .dnd-1_xrcq{border-color:#f04747}
#app-mount .streaming-2_dnHe{border-color:#593695}

/* popout shadow effect */
.popout-3sVMXz:not(.popouts-3dRSmE) {outline: 90vw solid hsla(0, 0%, 0%, 0.6)}

/* Flickering fix */
.chat-3bRxxu span {backface-visibility: hidden}

/* popout , menu & misc menu */
#app-mount .contextMenu-HLZMGh{background: transparent}
#app-mount .item-1Yvehc{background: hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 20% ));border:3px solid hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 30% ));text-shadow: -1px -1px 1px hsla(0, 0%, 0%, 0.5)}
#app-mount .item-1Yvehc:hover{background: hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 30% ));border-color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 20% ))}
#app-mount .bar-2Qqk5Z{background: hsl(var(--MainH),var(--MainS),calc(var(--MainL) - 0% ))}
.barFill-23-gu-{background:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 35% ))}
.mini-dmm9yo .grabber-3mFHz2{border-radius:5px}

#app-mount .popout-3sVMXz{box-shadow:none;border-radius:0}
#app-mount .menu-Sp6bN1{background: hsla(0, 0%, 0%, 0.6);box-shadow:none;border-radius:0}
#app-mount .item-1GzJrl{background: hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 20% ));border:3px solid hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 30% ));border-radius:10px;color:white;margin:1px}
#app-mount .item-1GzJrl:hover{background: hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 30% ));border-color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 20% ))}
#app-mount .item-1GzJrl.leave-1DRJfn{background: hsl(0, 100%, 40%);border-color:hsl(0, 100%, 30%)}
#app-mount .item-1GzJrl.leave-1DRJfn:hover{background: hsl(0, 100%, 30%);border-color:hsl(0, 100%, 40%)}

.small-popout-box{background:hsla(0, 0%, 0%, 0.6);border:none;border-radius:0}
.option-popout .btn-item{background: hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 20% ));border:3px solid hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 30% ));border-radius:10px;color:white;margin:1px}
.option-popout .btn-item:hover{background: hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 30% ));border-color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 20% ));color:white}

/* tooltips */
.tooltip.tooltip-black,
.tooltip.tooltip-red{background: hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 25% ))}
.tooltip.tooltip-black.tooltip-top::after{border-top-color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 25% ))}
.tooltip.tooltip-black.tooltip-left::after{border-left-color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 25% ))}
.tooltip.tooltip-black.tooltip-bottom::after{border-bottom-color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 25% ))}
.tooltip.tooltip-black.tooltip-right::after,.tooltip.tooltip-red.tooltip-right::after{border-right-color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 25% ))}

/* guild list */
.guildsWrapper-5TJh6A{z-index:3;background: hsl(var(--MainH),var(--MainS),calc(var(--MainL) - 3% ));width:72px}
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ .guildInner-3DSoA4{background:hsl(var(--MainH),var(--MainS),calc(var(--MainL) - 0% ))!important;border-radius:10px!important;transition:.3s}
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ .guildInner-3DSoA4:hover{border-radius:20px!important}
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ .guildInner-3DSoA4 a,.guildsWrapper-5TJh6A .guilds-1q_RqH .friendsOnline-_wi_fM{color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 20% ))}
.guildsWrapper-5TJh6A .guilds-add{border-color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 20% ));color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 25% ))}
.guildsWrapper-5TJh6A .guilds-add:hover{border-color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 10% ));color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 15% ))}
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.unread:before{background: transparent;border-left:5px solid;border-right:5px solid;border-color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 30% ));border-radius:5px;left:-7px;top:6px;margin:0;height:40px;width:55px}
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.selected-ML3OIq:before{background: transparent;border-left:5px solid;border-right:5px solid;border-color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 20% ));border-radius:5px;left:-7px;top:6px;margin:0;height:40px;width:55px}
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ .badge{background: hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 25% ))}
.guildsWrapper-5TJh6A .guildsError-3cFMtY{background: hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 30% ));border-color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 20% ))}
.guildsWrapper-5TJh6A .guildsError-3cFMtY:hover{background: hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 20% ));border-color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 30% ))}

/* channel */
.guildsWrapper-5TJh6A:hover + div .channels-Ie2l6A, .app .channels-Ie2l6A:hover {left: 72px; opacity: 1}
.channels-Ie2l6A {height:98%;left:-170px;background:hsla(180, 3%, 12%, 0.9);transition:.3s;position:absolute;opacity:0;z-index:2;border-right:1px solid hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 25% ))}
.iconCollapsed-3hFp_8, .iconDefault-3Gr8d2, .nameCollapsed-34uFWo, .nameDefault-2DI02H {color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 15% ))}
.colorDefaultText-oas-QM,.colorDefaultVoice-3wYlhb,.colorLockedText-1VRkPt,.colorLockedVoice-2UlBjl, {color: #dbdcdc;text-shadow: 1px 1px 7px black}
.private-channels .channel:hover a,.contentHoveredText-2D9B-x{background: transparent;border-left:5px solid;border-right:5px solid;border-color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 20% ))}
.private-channels .channel.selected a,.contentSelectedText-3wUhMi {background: transparent;border-left:5px solid;border-right:5px solid;border-color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 10% ))}
.unread-1Dp-OI {position: absolute;height: 32px;width: 204px;background:transparent;border-left:5px solid;border-right:5px solid;border-color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 30% ));border-radius:3px;left:0;top:0;margin:1px 0 1px 14px;}
.icon-sxakjD {margin-right:0px; opacity: 0}
#app-mount .channelNotice-1-XFjC,#ap-mount .quickswitcher-35bYg4{background-color:hsl(var(--MainH),var(--MainS),calc(var(--MainL) - 3% ));box-shadow:none}
#app-mount .btn-11C5_u{background-color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 30% ));border-color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 35% ))}
.unread-1xRYoj{background: hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 30% ))}
.unread-1xRYoj:hover{background: hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 20% ))}

/* chat */
.base-3AoPqv{border-radius:0}
#app-mount .chat-3bRxxu form,.channelTextArea-1LDbYG {margin:0;box-shadow:none}
#app-mount .inner-zqa7da {border-radius:0;background:hsl(var(--MainH),var(--MainS),calc(var(--MainL) - 3% ))}
.chat-3bRxxu .messages-3amgkR{background:transparent}
#app-mount .containerCozy-jafyvG{background: hsl(var(--MainH),var(--MainS),calc(var(--MainL) - 2% ));border:1px solid hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 35% ));border-radius:10px;margin:4px;padding:16px 15px}
#app-mount .containerCozy-jafyvG h2 strong {text-shadow: -1px -1px 1px hsla(0, 0%, 0%, 0.5)}
#app-mount .containerCozy-jafyvG .comment .markup-2BOw-j {color:white;text-shadow: -1px -2px 7px black}
#app-mount .containerCozy-jafyvG .comment .markup-2BOw-j .wrapper-3WhCwL{background:transparent;color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 10% ))}
#app-mount .containerCozy-jafyvG .comment .markup-2BOw-j .wrapper-3WhCwL:hover{background:transparent;color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 20% ))}
#app-mount .containerCozy-jafyvG .isMentioned-N-h9aa .message-text{background: hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 40% ))}
.containerCozy-jafyvG .isMentioned-N-h9aa .message-text::after{border-color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 30% ));background: hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 30% ))}
#app-mount .containerCozy-jafyvG a{color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 20% ))!important}
#app-mount .containerCozy-jafyvG h2 .timestampCozy-2hLAPV{color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 20% ))}
#app-mount .typing-2GQL18{bottom:100%;width:auto}
#app-mount .typing-2GQL18 span {color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 0% ))}
.chat-3bRxxu .new-messages-bar{background:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 15% ));border:3px solid hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 25% ));border-top:none}
#app-mount .chat-3bRxxu .new-messages-bar:hover{background:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 25% ));border-color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 15% ))}
#app-mount .chat-3bRxxu .jump-to-present-bar{white-space:nowrap;height:40px;width:120px;left:85%;background:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 30% ));border:3px solid hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 20% ));border-bottom:none;transition:.4s}
#app-mount .chat-3bRxxu .jump-to-present-bar:hover{height:60px;background:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 20% ));border-color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 30% ))}
.chat-3bRxxu .jump-to-present-bar .spinner{padding-left:30%}
.chat-3bRxxu .jump-to-present-bar button:first-child{display:none}
.chat-3bRxxu .jump-to-present-bar button:last-child{color:white}
#app-mount .autocomplete-1vrmpx{background-color:hsl(var(--MainH),var(--MainS),calc(var(--MainL) - 3% ))}
#app-mount .selectorSelected-1_M1WV{background:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 30% ))}
#app-mount .chat-3bRxxu .divider-3gKybi>span{background: hsl(var(--MainH),var(--MainS),calc(var(--MainL) - 2% ));border:1px solid hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 30% ));color:hsl(180, 3%, 50%)}
#app-mount .chat-3bRxxu .divider-3gKybi>div{background: transparent}
#app-mount .chat-3bRxxu .divider-3gKybi:before{background: transparent;border:1px solid hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 25% ))}
#app-mount .hljs{background:hsl(var(--MainH),var(--MainS),calc(var(--MainL) - 3% ));border:1px dashed hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 30% ))}
#app-mount .message-group-blocked,#app-mount .message-group-blocked-btn{background: transparent;border:none;box-shadow:none}

.app .welcomeMessage-3_Mcht h1,.welcomeMessage-3_Mcht p{color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 20% ))}
#app-mount .welcomeMessage-3_Mcht a{color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 0% ))}

/* memberlist */
.membersWrap-2h-GB4{width:90px;min-width:unset;transition: .3s;border-left:1px solid hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 25% ))}
.membersWrap-2h-GB4:hover{width:240px}
.membersWrap-2h-GB4 .members-1998pB{width:240px;height:calc(100% + 30px);padding-bottom:40px}
.membersGroup-v9BXpm{
    width:80px;
	height:auto;
    font-size:10px;
	line-height:13px;
	white-space: normal;
	text-align:center;
	transition:.3s;
	box-sizing: content-box;
	background: hsla(0, 0%, 0%, 0.1);
	border-radius:10px;
	margin:2% 5px;
	padding:2% 0
}
.members-1998pB:hover .membersGroup-v9BXpm{padding:2% 30%}
#app-mount .members-1998pB,#app-mount .content-OzHfo4:hover,#app-mount .member-3W1lQa.popout-open .content-OzHfo4{background:hsla(0, 0%, 0%, 0.1)}
.member-3W1lQa{margin:0 20px}
.memberInner-2CPc3V{width:140px;display:none}
.membersWrap-2h-GB4:hover .memberInner-2CPc3V{display:block}
.member-3W1lQa .activityText-sLG0UL{text-indent:-10vw;line-height:5px}
.member-3W1lQa .activity-1IYsbk strong{text-indent:0;display:block;line-height:10px}

/*profile popout*/
.avatarHint-1qgaV3 {border-radius: 10px}
#app-mount .quickMessage-1yeL4E{background:hsla(0, 0%, 0%, 0.2);border-color:hsla(0, 0%, 0%, 0.2);color:white}

#app-mount .topSectionNormal-2-vo2m ~ .body-3ND3kc,
#app-mount .headerNormal-T_seeN ~ .body-3iLsc4,#app-mount .headerNormal-T_seeN ~ .footer-1fjuF6{background:#202225}
.topSectionPlaying-1J5E4n ~ .body-3ND3kc,
#app-mount .headerPlaying-j0WQBV ~ .body-3iLsc4,#app-mount .headerPlaying-j0WQBV ~ .footer-1fjuF6{background:#7289da}
.topSectionStreaming-1Tpf5X ~ .body-3ND3kc,
#app-mount .headerStreaming-2FjmGz ~ .body-3iLsc4,#app-mount .headerStreaming-2FjmGz ~ .footer-1fjuF6{background:#593695}
.topSectionSpotify-1lI0-P ~ .body-3ND3kc,
#app-mount .headerSpotify-zpWxgT ~ .body-3iLsc4,#app-mount .headerSpotify-zpWxgT ~ .footer-1fjuF6{background:#1db954}

.roleCircle-3xAZ1j{display:none}
.roleName-32vpEy {margin: 0 6px;line-height: 25px;z-index:1}
.role-2irmRk {position:relative;border:none;border-radius:0;overflow:hidden}
.role-2irmRk::before {position:absolute;content:"";height:25px;border-right:250px solid;border-color:inherit}

.connectedAccount-36nQx7{position: relative}
.connectedAccountIcon-3P3V6F,.connectedAccountName-f8AEe2,.connectedAccountVerifiedIcon-3aZz_K, .body-3ND3kc a {z-index:1;color:white;border-color:transparent}
img[src="/assets/f09c1c70a67ceaaeb455d163f3f9cbb8.png"] + div:before {content:"";height:46px;width:262px;background:#191919;position:absolute;margin-left:-38px}
img[src="/assets/ff3516ac66b71ef616b1df63e20fee65.png"] + div:before {content:"";height:46px;width:262px;background:#c60505;position:absolute;margin-left:-38px}
img[src="/assets/806953fe1cc616477175cbcdf90d5cd3.png"] + div:before {content:"";height:46px;width:262px;background:#b27f19;position:absolute;margin-left:-38px}
img[src="/assets/4662875160dc4c56954003ebda995414.png"] + div:before {content:"";height:46px;width:262px;background:#0098e5;position:absolute;margin-left:-38px}
img[src="/assets/3abe9ce5a00cc24bd8aae04bf5968f4c.png"] + div:before {content:"";height:46px;width:262px;background:#da3f0b;position:absolute;margin-left:-38px}
img[src="/assets/8c289d499232cd8e9582b4a5639d9d1d.png"] + div:before {content:"";height:46px;width:262px;background:#0f6089;position:absolute;margin-left:-38px}
img[src="/assets/edbbf6107b2cd4334d582b26e1ac786d.png"] + div:before {content:"";height:46px;width:262px;background:#422d6b;position:absolute;margin-left:-38px}
img[src="/assets/5be6cc17e596c02e7506f2776cfb1622.png"] + div:before {content:"";height:46px;width:262px;background:#1e71ad;position:absolute;margin-left:-38px}
img[src="/assets/f0655521c19c08c4ea4e508044ec7d8c.png"] + div:before {content:"";height:46px;width:262px;background:#169c42;position:absolute;margin-left:-38px}
img[src="/assets/8d8f815f3d81a33b1e70ec7c22e1b6fe.png"] + div:before {content:"";height:46px;width:262px;background:#0f176f;position:absolute;margin-left:-38px}

/* friend */
#app-mount #friends .tab-bar-item:hover:not(.selected),#app-mount #friends .friends-row:hover{background: hsl(var(--MainH),var(--MainS),calc(var(--MainL) - 2% ))}
#app-mount #friends .tab-bar-item.selected,#app-mount #friends .tab-bar-item.tab-bar-item-primary{background: hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 20% ));color:white}
#app-mount #friends .tab-bar-item.tab-bar-item-primary:hover:not(.selected){background: hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 30% ))}

.video-1FfuMD{background:hsl(var(--MainH),var(--MainS),calc(var(--MainL) - 3% ))}
#app-mount .private-channel-call.minimum .private-channel-call-actions .center{background: transparent;border:none}
.lookFilled-1Gx00P.colorRed-1TFJan{background:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 20% ));border:3px solid hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 30% ))}
.lookFilled-1Gx00P.colorRed-1TFJan:hover{background: hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 30% ));border-color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 20% ))}

/* recent mentions & pinned messages */
#app-mount .header-ykumBX{border-radius:0;background-color: hsl(var(--MainH),var(--MainS),calc(var(--MainL) - 3% ))}

#app-mount .messagesPopoutWrap-1MQ1bW{border-radius:0;background:hsl(var(--MainH),var(--MainS),calc(var(--MainL) - 0% ));border:none}
.scrollerWrap-1IAIlv .scroller .messagesPopoutWrap-1MQ1bW::-webkit-scrollbar{width:0}
#app-mount .messagesPopout-24nkyi .containerCozy-jafyvG:hover .actionButtons-1sUUug{background:transparent;box-shadow:none}
#app-mount .actionButtons-1sUUug .jumpButton-3DTcS_{background:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 20% ));color:white}
#app-mount .headerTabBarWrapper-27xBDe .tab-bar.TOP .tab-bar-item{color:hsla(0, 0%, 100%, 0.6)}

/* Search */
#app-mount .searchPopout-1vUlP3{background:hsla(0, 0%, 0%, 0.6);border:none;border-radius:0;box-shadow:none;height:auto;max-height:768px;overflow-y:scroll}
.resultsGroup-r_nuzN .header-2N-gMV{background:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 30% ));border:3px solid hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 20% ));border-radius:10px;padding:5px 15px}
.resultsGroup-r_nuzN .searchClearHistory-2cSSMO, .resultsGroup-r_nuzN .searchLearnMore-3SQUAj{top:15px}
#app-mount .option-96V44q.selected-rZcOL-{background:transparent;border-left:5px solid;border-right:5px solid;border-color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 20% ))}
#app-mount .searchAnswer-3Dz2-q, #app-mount .searchFilter-2ESiM3{background: hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 30% ))}
.searchPopout-1vUlP3::-webkit-scrollbar{width:0}

#app-mount .calendarPicker-2yf6Ci .react-datepicker{background:transparent}
#app-mount .calendarPicker-2yf6Ci .react-datepicker__day{background: hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 25% ));border-color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 30% ))}
#app-mount .calendarPicker-2yf6Ci .react-datepicker__day:hover{background: hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 30% ));border-color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 30% ))}
.calendarPicker-2yf6Ci .react-datepicker__day-name{background:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 25% ))}
#app-mount .calendarPicker-2yf6Ci .react-datepicker__day--outside-month{color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 40% ));background:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 35% ))}
#app-mount .calendarPicker-2yf6Ci .react-datepicker__current-month{background:transparent}
#app-mount .calendarPicker-2yf6Ci .react-datepicker__header{background:transparent}
#app-mount .calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation{background-color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 25% ));border-color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 35% ))}
#app-mount .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected::after{background:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 30% ))}
#app-mount .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z{background: hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 25% ))}

/* Search Results */
#app-mount .search-results-wrap{background:hsl(var(--MainH),var(--MainS),calc(var(--MainL) - 3% ))}
#app-mount .search-results-wrap .search-header{background:hsl(var(--MainH),var(--MainS),calc(var(--MainL) - 3% ))}
#app-mount .search-results-wrap .channel-separator:before{background:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 30% ))}
#app-mount .search-results-wrap .channel-separator .channel-name{background:hsl(var(--MainH),var(--MainS),calc(var(--MainL) - 3% ));color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 30% ))}
#app-mount .search-results-wrap .search-result:before{background:linear-gradient(0deg,transparent,hsl(var(--MainH),var(--MainS),calc(var(--MainL) - 5% )))}
#app-mount .search-results-wrap .search-result.expanded .search-result-message.hit,#app-mount .search-results-wrap .search-result .search-result-message.hit{background: hsl(var(--MainH),var(--MainS),calc(var(--MainL) - 3% ));box-shadow:0 0 10px 6px hsl(var(--MainH),var(--MainS),calc(var(--MainL) - 3% ))}
#app-mount .search-results-wrap .search-result::after{background:linear-gradient(0deg,hsl(var(--MainH),var(--MainS),calc(var(--MainL) - 5% )),transparent)}
#app-mount .search-results-wrap .action-buttons .jump-button{background: hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 30% ))}

/* need help */
.need-help-modal.deprecated .header,.form.deprecated .form-inner{background: hsl(var(--MainH),var(--MainS),calc(var(--MainL) - 0% ))}
.need-help-modal.deprecated .footer{background: hsl(var(--MainH),var(--MainS),calc(var(--MainL) - 0% ));border-color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 20% ))}
.need-help-modal.deprecated .header h1{color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 20% ))}
.need-help-modal.deprecated .header input[type=text]{background:hsl(var(--MainH),var(--MainS),calc(var(--MainL) - 3% ));box-shadow: 0 2px 1px hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 20% ));border-bottom-color:hsl(var(--MainH),var(--MainS),calc(var(--MainL) - 3% ))}
.need-help-modal.deprecated .header input[type=text]:focus{border-bottom-color:hsl(var(--MainH),var(--MainS),calc(var(--MainL) - 3% ));color:white}
.need-help-modal.deprecated a{color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 20% ))}

/* emoji */
#app-mount #bda-qem{background:hsla(0, 0%, 0%, 0.6);border-color:hsl(var(--MainH),var(--MainS),calc(var(--MainL) - 2% )) !important;border-radius:0}
.bda-dark #bda-qem button{background: hsl(var(--MainH),var(--MainS),calc(var(--MainL) - 0% ));border-color:hsl(var(--MainH),var(--MainS),calc(var(--MainL) - 2% ));box-shadow:none}
.bda-dark #bda-qem button:hover{background: hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 30% ))}
.bda-dark #bda-qem button.active{background: hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 20% ))}

#app-mount .emojiPicker-3m1S-j,.bda-dark #bda-qem-favourite-container, .bda-dark #bda-qem-twitch-container{background: hsl(var(--MainH),var(--MainS),calc(var(--MainL) - 2% ));border:none}
#app-mount .emojiPicker-3m1S-j .header-1nkwgG .search-bar{background: hsl(var(--MainH),var(--MainS),calc(var(--MainL) - 2% ))}
.search-bar.search-bar-light .search-bar-inner{background:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 30% ));border-color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 20% ))}
.emojiPicker-3m1S-j .header-1nkwgG{border-color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 20% ))}
#app-mount .category-2U57w6{background: hsl(var(--MainH),var(--MainS),calc(var(--MainL) - 2% ))}
#app-mount .emojiItem-109bjA.selected-39BZ4S{background-color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 20% ))}

.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar,.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-track,.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-track-piece{background: transparent!important}
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-thumb,.bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-thumb{background: hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 20% ))!important}

/* settings */
.ui-standard-sidebar-view{z-index:1}
.ui-standard-sidebar-view, .ui-standard-sidebar-view *{box-sizing: content-box}
#app-mount .header-2RyJ0Y,#bd-settings-sidebar .ui-tab-bar-header{background:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 20% ));color:white;border:3px solid hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 25% ));border-radius:10px;text-align: center;margin:2px;padding:3px;white-space: normal}
.side-8zPYf6 .item-PXvHYJ,#bd-settings-sidebar .ui-tab-bar-item{background:transparent;color:white;text-align: center;margin:2px;padding:3px;white-space: normal}
#app-mount .side-8zPYf6 .itemDefault-3Jdr52:hover,#bd-settings-sidebar .ui-tab-bar-item:hover{background:transparent;border-left:5px solid;border-right:5px solid;border-color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 30% ))}
.side-8zPYf6 .itemSelected-1qLhcL,#bd-settings-sidebar .ui-tab-bar-item.selected{background:transparent;border-left:5px solid;border-right:5px solid;border-color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 20% ))}

#bd-settingspane-container h2.ui-form-title,#app-mount .defaultColor-1_ajX0{color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 10% ))}
#bd-settingspane-container .ui-switch-item h3,#app-mount .h5-18_1nd{color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 20% ))}
#bd-settingspane-container .ui-switch-item .style-description,#app-mount .title-31JmR4,#app-mount .primary-jw0I4K,#app-mount .description-3_Ncsb{color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 30% ))}

#app-mount .cardPrimaryEditable-3KtE4g{background: hsl(var(--MainH),var(--MainS),calc(var(--MainL) - 3% ))}

#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked,.themeDefault-24hCdX.valueChecked-m-4IJZ{background:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 20% ))}
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch,.size-3rFEHg{background:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 35% ));border-radius:5px}
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch:before,.size-3rFEHg::after{border-radius:5px}

#app-mount .ui-standard-sidebar-view .btn-close{border-radius:10px;position:fixed;border-color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 25% ))}
#app-mount .ui-standard-sidebar-view .btn-close:hover{background: hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 20% ));border-color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 20% ))}
#app-mount .ui-standard-sidebar-view .esc-text{position:fixed;color:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 20% ))}
.btn-close .fill{fill:hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 10% ))}

.ace-monokai,.ace-monokai .ace_gutter,#app-mount #bd-customcss-attach-controls{background:hsl(var(--MainH),var(--MainS),calc(var(--MainL) - 2% ));box-shadow:none}
.ace-monokai .ace_marker-layer .ace_selection{background: hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 20% ))}




.large-3ChYtB[style*="214478470972047360"] ~ .comment .usernameWrapper-1S-G5O::after
{
	content: "Theme Dev";
	background:hsla(0, 0%, 0%, 0.1);
	color: hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 10% ));
	border:1px solid hsl(var(--SubH),var(--SubS),calc(var(--SubL) - 30% ));
	border-radius:2px;
	font-size:10px;
	margin-left:5px;
	vertical-align:bottom;
	line-height:16px;
	font-weight:500;
}
