/**
  * @author Mixter213
  * @name MixPack 2
  * @version 1.0
  * @description A pack that combines things I've created and liked the look of.
**/


// Main ===========================================================================================

    :root {

        // Discord Variables ======================================================================
        --modal-background: rgba(40, 42, 44, .8);
        --background-primary: rgba(30, 32, 34, .8);
        --background-secondary: rgba(30, 32, 34, .6);
        --background-secondary-alt: rgba(20, 22, 24, .6);
        --background-tertiary: rgba(20, 22, 24, .5);
        --background-floating: rgba(30, 32, 34, .8);
        --background-accent: rgba(60, 62, 64, .8);

        --background-modifier-accent: rgba(60, 62, 64, .6);
        --background-modifier-hover: rgba(40, 100, 200, .4);
        --background-modifier-selected: rgba(60, 62, 64, .6);

        --brand-experiment: rgba(40, 100, 200, .8);
        --brand-experiment-560: var(--brand-experiment);
        --button-danger-background: rgba(200, 50, 50, .8);
        --interactive-normal: rgb(200, 200, 200);
        --modal-footer-background: rgba(30, 32, 34, 0.4);

        --button-secondary-background: rgba(60, 62, 66, .8);
        --button-secondary-background-hover: rgba(80, 82, 86, .8);

        // MixPack Variables ======================================================================

        // Variables - Memberlist =================================================================
        --Memberlist-Background: rgba(60, 62, 64, .2);
        --Memberlist-Header: rgba(80, 82, 84, .4);
        --Memberlist-Avatar: rgba(30, 32, 34, .4);
        --Memberlist-Scrollbar: rgba(60, 62, 64, .2);
        --Memberlist-Scrollbar-Thumb: rgba(30, 30, 30, .4);
    }


    html {
        background: transparent;
    }

    body {
        background: transparent;
    }

    .appMount-2yBXZl {
        background: black url("https://images.pexels.com/photos/2885320/pexels-photo-2885320.jpeg") center/cover no-repeat;
    }

    .app-2CXKsg {
        background: transparent;
    }

    .bg-1QIAus {
        background: rgba(40, 42, 44, 0.8);
    }

    .layer-86YKbF {
        background: transparent;
    }

    .chat-2ZfjoI {
        background: transparent;
    }


// Titlebar =======================================================================================

    .titleBar-1it3bQ::before {
        content: "MixPack";
        position: absolute;
        top: 6px;
        left: 16px;
        height: 20px;
        color: #c8c8c8;
        font-weight: 600;
        font-size: 12px;

        .wordmark-2u86JB {
            display: none;
        }
    }



// Guild ==========================================================================================

    .guilds-2JjMmN {
        --background-primary: rgba(30, 32, 34, .8);
        --background-secondary: rgba(30, 32, 34, .8);
        --text-normal: rgb(200, 200, 200);
        --brand-experiment: rgb(40, 100, 200);
        background: rgba(40, 42, 44, 0.3);

        .scroller-3X7KbA {
            background: transparent;
        }

        foreignObject {
            mask: none;
            border-radius: 4px;
        }

        .wrapperSimple-Js2rIO {
            border-radius: 4px;
        }

        .wrapper-3kah-n :is(.icon-3AqZ2e, .childWrapper-1j_1ub) {
            transition: 0.2s;
        }

        .wrapper-3kah-n:hover :is(.icon-3AqZ2e, .childWrapper-1j_1ub) {
            border-radius: 10px;
        }

        .numberBadge-37OJ3S {
            border-radius: 4px;
        }

        .expandedFolderBackground-1kSAf6 {
            width: unset;
            top: 0px;
            left:6px;
            bottom: 2px;
            right: 6px;
            border-radius: 4px;  
        }
    }

// Sidebar ========================================================================================

    #app-mount .sidebar-1tnWFu {
    border-radius: 0;
    }

    // Sidebar - List

        .sidebar-1tnWFu {
            background: rgba(60, 62, 64, 0.2);

            .container-1NXEtd {
                background: transparent;
            }

            .animatedContainer-2laTjx {
                filter: opacity(70%);
            }

            .scroller-1ox3I2::-webkit-scrollbar-track {
                background: rgba(60, 62, 64, 0.2);
                border-radius: 0;
                margin: 0;
            }

            .scroller-1ox3I2::-webkit-scrollbar-thumb {
                background: rgba(10, 12, 14, 0.3);
                border-radius: 0;
                border: none;
            }

            // Sidebar - Categories ===============================================================
                .containerDefault-3TQ5YN,
                .containerDragAfter-1J_-1V,
                .containerDragBefore-ei4h1m,
                .containerUserOver-3woq86 {
                    height: 32px;
                    padding: 4px 0;
                }

                .wrapper-1S43wv {
                    height: 32px;
                    padding: 0;
                    display: flex;
                    flex-flow: row-reverse nowrap;
                    background: linear-gradient(to right, var(--Sidebar-Category-BG, rgba(80, 82, 84, 0.4)) 50%, transparent);
                    border: 2px solid transparent;
                    border-image: linear-gradient(to right, transparent 50%, var(--Sidebar-Category-BG, rgba(80, 82, 84, 0.4))) 1/2px;

                    &:hover {
                        --Sidebar-Category-BG: rgba(80, 82, 84, .4);
                        --Sidebar-Category-Color: #eee;
                    }

                    &.muted-19J0ih {
                        --Sidebar-Category-BG: rgba(80, 82, 84, .4);
                        --Sidebar-Category-Color: #888;
                    }

                    &.name-3BUDLf {
                        color: var(--Sidebar-Category-Color, #ddd);
                    }

                    .mainContent-uDGa6R {
                        display: flex;
                        flex-flow: row-reverse nowrap;
                        flex: 1 1 auto;
                        align-items: center;

                        .arrow-2HswgU {
                            position: static;
                            height: 1rem;
                            width: 1rem;
                            padding: 4px 10px;
                        }

                        .name-3BUDLf {
                            font-size: 0.8rem;
                            line-height: normal;
                            letter-spacing: normal;
                            padding: 4px 10px;
                        }
                    }

                    // Categories - Extra Buttons =================================================

                    .children-3MeUvj {
                        height: 1rem;
                        width: 0;
                        overflow: hidden;
                        transition: 0.2s linear;
                    }

                    &:hover .children-3MeUvj {
                        width: 1rem;
                        padding: 4px 10px;
                    }

                }

            // Channel Item =======================================================================

                .wrapper-NhbLHG {
                    padding: 2px;
                    height: 30px;
                    display: flex;
                    flex-flow: column nowrap;

                    .unread-36eUEm {
                        display: none;
                    }

                    .content-1gYQeQ {
                        display: flex;
                        flex-direction: row-reverse;
                        flex-wrap: nowrap;
                        padding: 0 2px;
                        margin: 0;
                        border-radius: 0;
                        flex: 1 1 auto;
                        align-items: center;
                        background: transparent;

                        .mainContent-20q_Hp {
                            display: flex;
                            flex-direction: row-reverse;
                            flex-wrap: nowrap;
                            padding: 0;
                            margin: 0;
                            flex: 1 1 auto;

                            .iconContainer-21RCa3 {
                                height: 1.2rem;
                                width: 1.2rem;
                                margin: 0;
                                padding: 4px 10px;
                            }

                            .iconContainer-21RCa3 .icon-2W8DHg {
                                height: 100%;
                                width: 100%;
                            }

                            .linkTop-1W1aK6 {
                                font-size: 1rem;
                                line-height: normal;
                                padding: 4px 8px;
                                flex: 1 1 auto;
                                width: 0;
                            }

                        }

                        .children-1MGS9G {
                            height: 1.2rem;
                            overflow: hidden;
                            display: flex;
                            flex-direction: row;
                            flex-wrap: nowrap;

                            .iconItem-1EjiK0 {
                                height: 1.2rem;
                                width: 0;
                                display: flex;
                                flex-direction: row;
                                flex-wrap: nowrap;
                                padding: 0;
                                transition: 0.2s linear;

                                .actionIcon-2sw4Sl {
                                    height: 100%;
                                    width: 100%;
                                }
                            }

                            .channelInfo-3jN1ay {
                                display: block;
                                margin: 0;

                                .mentionsBadge-3H1BKJ {
                                    display: flex;
                                    flex-flow: row nowrap;
                                    position: static;

                                    .numberBadge-37OJ3S {
                                        height: unset;
                                        width: unset !important;
                                        min-height: unset;
                                        min-width: unset;
                                        background: transparent !important;
                                        font-size: 1rem;
                                        line-height: normal;
                                        padding: 2px 6px 2px 10px;
                                    }
                                }
                            }
                        }
                    }

                // Channel Item - Backgrounds

                    &.modeMuted-2T4MDZ {
                        --Sidebar-Channel-Color: #666;
                    }

                    &.modeLocked-3sToxd {
                        --Sidebar-Channel-Color: #555;
                    }

                    &:hover {
                        --Sidebar-Channel-BG: rgba(40, 80, 160, .4);
                        --Sidebar-Channel-Color: #ddd;
                    }

                    &:active {
                        --Sidebar-Channel-BG: rgba(50, 100, 200, .5);
                        --Sidebar-Channel-Color: #fff;
                    }

                    &.modeConnected-NrO4cP {
                        --Sidebar-Channel-BG: rgba(100, 50, 200, .4);
                        --Sidebar-Channel-Color: #fff;
                    }

                    &.modeUnread-3Cxepe {
                        --Sidebar-Channel-BG: rgba(50, 200, 100, .4);
                        --Sidebar-Channel-Color: #fff;
                    }

                    &.modeSelected-3DmyhH {
                        --Sidebar-Channel-BG: rgba(50, 100, 200, .4);
                        --Sidebar-Channel-Color: #fff;
                    }

                    .channelInfo-3jN1ay:empty::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        z-index: -1;
                        background: linear-gradient(to right, var(--Sidebar-Channel-BG) 50%, transparent);
                        border: 2px solid transparent;
                        border-image: linear-gradient(to right, transparent 50%, var(--Sidebar-Channel-BG, transparent)) 1/2px;
                    }

                    .channelInfo-3jN1ay .mentionsBadge-3H1BKJ::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        z-index: -1;
                        background: linear-gradient(to right, rgba(240, 70, 70, 0.4) 50%, transparent);
                        border: 2px solid transparent;
                        border-image: linear-gradient(to right, transparent 50%, rgba(240, 70, 70, 0.4)) 1/2px;
                    }

                }

                // Channel Item - Forums ==========================================================

                    .container-1Bj0eq > ul {

                        .typeThread-2Aqh6X.wrapper-NhbLHG {
                            margin-left: 8px;

                            .link-1_kTxV {
                                padding-left: 2rem    
                            }
                        }

                    }

                // Channel Item - Voice Chat ======================================================

                .list-2x9Cl9 {
                    padding: 4px 10px;

                    .draggable-S2aEx4 {
                        height: 28px;
                        padding: 2px 0;
                    }

                    .voiceUser-3nRK-K {
                        height: 100%;
                    }

                    .content-1Tgc42 {
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: flex-start;
                        align-items: center;
                        margin: 0;
                        border-radius: 0;
                        padding: 0 10px;
                    }

                    .avatarContainer-3FF_Km {
                        margin: 0;
                        height: 1.2rem;
                        width: 1.2rem;
                        border-radius: 4px;
                    }

                    .username-vAneIW {
                        font-size: 1rem;
                        line-height: normal;
                        padding: 2px 8px;
                    }

                    .icons-2mwuFp {
                        display: flex;
                        flex-flow: row nowrap;
                        margin: 0;
                    }

                    .icons-2mwuFp .iconSpacing-3rBbgf {
                        display: flex;
                        flex-flow: row nowrap;
                        margin: 0;
                    }

                    .icon-N9JZb6 {
                        height: 1rem;
                        width: 1rem;
                        padding: 2px 4px;
                    }

                    .live-1V2D-f {
                        border-radius: 2px;
                    }

                }

    // Bottom Panel ===============================================================================

            .panels-3wFtMD {
                background: transparent;

                .container-YkUktl {
                    height: 50px;
                    margin: 0;
                    padding: 0 4px;


                    .avatarWrapper-1B9FTW {
                        margin: 0;
                        height: 50px;
                        width: 50px;
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: center;
                        align-items: center;
                    }

                    .nameTag-sc-gpq {
                        margin: 0;

                        .usernameContainer-3PPkWq {
                            font-size: 0.9rem;
                            line-height: normal;

                            .title-338goq {
                                font-size: 0.9rem;
                                line-height: normal;
                                flex: 1 1 auto;
                            }
                        }

                        .subtext-2HDqJ7 {
                            font-size: 0.8rem;
                            line-height: normal;
                        }

                        & + .flex-2S1XBF {
                            display: flex;
                            flex-flow: row nowrap;
                            align-items: center;
                            justify-content: center;
                        }

                        & + .flex-2S1XBF .button-12Fmur {
                            display: flex;
                            flex-flow: row nowrap;
                            justify-content: center;
                            align-items: center;
                            height: 32px;
                            width: 32px;
                            border-radius: 0;
                        }
                    }
                }

                // Bottom Panel - Connection Panel ================================================

                .container-1zzFcN {
                    border: none;
                    padding: 0;
                }

                .connection-3k9QeF {
                    padding: 0;
                }

                .rtcConnectionStatus-c5A6Av {
                    padding: 0;

                    .ping-2IpLcU {
                        margin: 0;
                    }

                    .labelWrapper-1HofQ- {
                        padding: 2px 4px;
                    }
                }

                .connection-3k9QeF .inner-llGtyq .channel-3prF2u {
                    padding: 2px 4px;
                }

                .container-YkUktl .avatar-1EWyVD {
                    border-radius: 4px
                }

                .container-YkUktl .avatar-1EWyVD foreignObject {
                    border-radius: 4px;
                    mask: none;
                }
            }

        }


// Chat Titlebar ==================================================================================

    #app-mount .title-31SJ6t {
        background: rgba(60, 62, 64, 0.2);

        .children-3xh0VB:after {
            display: none;
        }

        .searchBar-jGtisZ {
            background: rgba(10, 12, 14, 0.3);
        }
    }

// Chat ===========================================================================================

    .content-1jQy2l::before {
        display: none;
    }

    .chatContent-3KubbW {
        background: transparent;

        .messagesWrapper-RpOMA3 {
            z-index: 1

            .scroller-kQBbkU::-webkit-scrollbar-track {
                background: rgba(60, 62, 64, 0.2);
                border-radius: 0;
                margin: 0;
            }

            .scroller-kQBbkU::-webkit-scrollbar-thumb {
                background: rgba(10, 12, 14, 0.3);
                border-radius: 0;
                border: none;
            }

            .scroller-kQBbkU .messageListItem-ZZ7v6g {
                --background-primary: rgba(40, 42, 44, .8);
                --background-secondary: rgba(40, 42, 44, .6);
                --background-secondary-alt: rgba(40, 42, 44, .8);
                --interactive-muted: rgb(60, 62, 64);
                --elevation-stroke: 0 0 0 1px rgba(30, 32, 34, 0.8);
                --background-mentioned: rgba(40, 80, 200, .2);
                --background-mentioned-hover: rgba(40, 80, 200, .4);
                --info-warning-foreground: rgba(40, 80, 200, .8);
                --brand-experiment-30a: rgba(40, 80, 200, .8);
                --brand-experiment-200: white;
            }

            .jumpToPresentBar-1cEnH0 {
                border-radius: 0;
                padding: 4px;
                left: 0;
                background: rgba(60, 62, 64, 0.9);
            }

            .newMessagesBar-1hF-9G {
                border-radius: 0;
                padding: 4px;
                left: 0;
                background: rgba(40, 100, 200, 0.8);
            }
        }

        .form-3gdLxP {
            padding: 0;
            margin-top: 0;
            z-index: 1;

            &::before {
                display: none;
            }

            .typing-2J1mQU {
                bottom: 100%;
                left: 0;
                padding: 0 10px;
                background: rgba(26, 28, 30, 0.6);
            }

        }

        .channelTextArea-1VQBuV {
            background: transparent;
            margin: 0;

            .scrollableContainer-15eg7h {
                background: rgba(60, 62, 64, 0.2);
                border-radius: 0;
                min-height: 44px;
                padding: 4px 0;
            }

        }

        .avatar-2e8lTP {
            border-radius: 4px
        }
    }

// Memberlist =====================================================================================

    .container-2o3qEW {
    background: transparent;
    }

    .members-3WRCEx {
        background: var(--Memberlist-Background);

        &::-webkit-scrollbar-track {
            visibility: visible;
            background: var(--Memberlist-Scrollbar);
        }

        &::-webkit-scrollbar-thumb {
            visibility: visible;
            background: var(--Memberlist-Scrollbar-Thumb);
            border-radius: 0;
            border: none;
        }

        .content-2a4AW9 {
            background: transparent;
        }

    }

    // Memberlist - Category ======================================================================

        .membersGroup-2eiWxl {
            background: linear-gradient(to right, transparent, var(--Memberlist-Header) 3%, transparent);
            height: unset;
            font-size: 0.85rem;
            line-height: normal;
            letter-spacing: 0.02rem;
            text-transform: none;
            font-weight: 500;
            margin: 0.2rem 0;
            padding: 0.3rem 0.6rem;
            color: #aaa;

            .roleIcon-2cey4v {
                margin: 0 0.2rem 0 0;
                padding: 0.2rem;
                height: 0.85rem;
            }
        }

    // Memberlist - Members =======================================================================

        .member-2gU6Ar {
            height: 44px;
            padding: 0;
            margin: 0 8px;
            max-width: unset;

            .layout-1qmrhw {
                height: 44px;
                padding: 0;
                border-radius: 0;

                &:hover {
                    background: transparent;
                }

            }

        // Members - Avatar =======================================================================

            .avatar-6qzftW {
                margin: 0;
                height: 44px;
                width: 48px;
                background: var(--Memberlist-Avatar);
                z-index: 2;

                .wrapper-3Un6-K {
                    border-radius: 0;
                    margin: 0 0 0 4px;

                    .mask-1y0tyc {
                        overflow: visible;
                        contain: unset;

                        foreignObject {
                            mask: none;
                        }
                    }
                }

                // Avatars - Status ===================================================================
                    foreignObject + rect {
                        height: 44px;
                        width: 4px;
                        x: -8;
                        y: -6;
                        mask: none;
                    }

                    foreignObject + svg {
                        overflow: visible;

                        rect {
                            height: 44px;
                            width: 4px;
                            x: -22.5;
                            y: -23;
                            mask: none;
                        }
                    }

                // Avatars - Typing Icon ==============================================================
                    .dots-1BwzZQ {
                        overflow: visible;

                        g circle:nth-child(1) {
                            cx: -10;
                            cy: -14;
                            r: 4;
                        }

                        g circle:nth-child(2) {
                            cx: -2;
                            cy: 0;
                            r: 4;
                        }

                        g circle:nth-child(3) {
                            cx: 6;
                            cy: -14;
                            r: 4;
                        }

                    }

            }

        // Members - Content ======================================================================

            &:hover .content-1U25dZ .nameAndDecorators-3ERwy2 .username-i5-wv- span::before {
                opacity: 0.4;
            }

            .content-1U25dZ {
                padding: 0 0.4rem;
                display: flex;
                flex-flow: row wrap;

                // Content - Username =================================================================
                    .nameAndDecorators-3ERwy2 {
                        z-index: 1;
                        min-width: 90%;
                        flex: 1 1 auto;

                        .username-i5-wv- span::before {
                            content: "";
                            position: absolute;
                            height: 44px;
                            left: 6px;
                            right: 0;
                            top: 0;
                            background: linear-gradient(to right, currentColor 2% 50%, transparent);
                            opacity: 0.2;
                            z-index: -1;
                        }

                    }

                // Content - Bot Tag ==================================================================
                    .content-1U25dZ .botTag-2mryIa {
                        font-size: 0.4rem;
                        border-radius: 4px;
                        padding: 0 0.4rem 0 0.2rem;
                        height: 1rem;
                        margin: 0 0.4rem;

                        .botText-1fD6Qk {
                            font-size: 0.6rem;
                            line-height: normal;
                            letter-spacing: 0.02rem;
                            font-weight: 500;

                            .botTagVerified-2KCPMa {
                                height: 100%;
                                width: auto;
                                margin: 0
                            }

                        }

                    }

                // Content - Owner Tag ================================================================

                    .ownerIcon-255uKo {
                        margin: 0;
                        top: unset;
                        height: 1rem;
                        width: auto;
                    }

                // Content - Activity Text ============================================================

                    .subText-OGOWMj {
                        z-index:  1;
                        margin: 0;

                        .activity-2EQDZv {
                            color: #bbb;
                            font-size: 0.75rem;
                            font-weight: 600;
                            line-height: normal;
                        }

                        .activityText-1rR-8O {
                            padding: 0 0.2rem;

                            strong {
                                color: #eee;
                            }

                        }

                    }

            }

        }

    // Memberlist - Loading ======================================================================

        // Loading - Category =====================================================================

            .membersWrap-3NUR2t.hiddenMembers-8kpYM0 {

                .membersGroup-2eiWxl .memberGroupsPlaceholder-9tqX9V {
                    border-radius: 4px;
                    background: var(--Memberlist-Background);
                    height: 1rem;
                    width: 60%
                }

            // Loading - Members ==================================================================

                .members-3WRCEx {
                    background: var(--Memberlist-Background);
                }

            // Loading - Avatar ===================================================================

                .placeholderAvatar-1qAcRZ {
                    background: var(--Memberlist-Background);
                    border-radius: 4px;
                }

            // Loading - Content ==================================================================

                .placeholderUsername-3iQi_D {
                    background: var(--Memberlist-Background);
                    border-radius: 4px;
                }

            }

// Friends Page ===================================================================================

    // Friends Page - Sidebar =========================================================================

        .privateChannels-oVe7HL {
            background: rgba(60, 62, 64, 0.2);

            .searchBar-3TnChZ .searchBarComponent-3N7dCG {
                background: rgba(10, 12, 14, 0.3);
                text-align: center;
            }

            .selected-3veCBZ {
                background: rgba(40, 80, 160, 0.4);
            }

            .interactive-1vLZ_I:hover {
                background: rgba(40, 80, 160, 0.4);
            }

            .scroller-WSmht3 {
                background: transparent;
            }

        }

    // Friends Page - Friends List --------------------------------------------------------------------------------------- */

        #app-mount .container-2cd8Mz {
            background: rgba(60, 62, 64, 0.2);

            .container-ZMc96U {
                background: transparent;
            }

            .searchBar-2aylmZ {
                background: rgba(10, 12, 14, 0.3);
            }

            .peopleListItem-u6dGxF {
                border: none;
                padding: 0 10px;
            }

            .peopleListItem-u6dGxF:nth-of-type(2n) {
                background: rgba(10, 12, 14, 0.1);
            }

            .peopleListItem-u6dGxF:hover {
                background: rgba(30, 32, 34, 0.8);
            }

            .children-3xh0VB:after {
                display: none;
            }

        }

// Store Page =====================================================================================

    .applicationStore-2nk7Lo {
        background: transparent;

        .headerBar-1dSpQr {
            background: rgba(60, 62, 64, 0.35);

            .children-3xh0VB:after {
                display: none;
            }
        }

        .scroller-29cQFV {
            background: transparent;
        }
    }


// Settings =======================================================================================

    .layers-OrUESM > .layer-86YKbF.animating-1rIrGV *,
    .layers-OrUESM > .layer-86YKbF.animating-1rIrGV {
        pointer-events: auto !important;
        will-change: unset;
    }

    .layer-86YKbF.baseLayer-W6S8cY {
        opacity: 1 !important;
        transform: unset !important;
        z-index: 1;
    }

    .layer-86YKbF:not(.baseLayer-W6S8cY) {
    z-index: 2;
    }

    #app-mount .standardSidebarView-E9Pc3j {
        background: rgba(40, 42, 44, 0.8);

        .contentRegion-3HkfJJ {
            background: transparent;

            .bar-1Bhnl9,
            .markDash-yk2kJ- {
                background: rgba(80, 82, 84, 0.8);
            }

            .contentRegionScroller-2_GT_N {
                background: transparent;

                .itemFilled-1cPbtg {
                    background: linear-gradient(to right, rgba(20, 22, 24, 0.6) 50%, rgba(10, 12, 14, 0.2));
                    border: 2px solid transparent;
                    border-image: linear-gradient(to right, rgba(10, 12, 14, 0.2) 50%, rgba(20, 22, 24, 0.6)) 1/2px;

                    &:hover {
                        background: rgba(10, 12, 14, 0.6);
                    }

                    &[aria-checked=true] {
                        background: linear-gradient(to right, rgba(40, 80, 160, 0.6) 50%, transparent);
                        border: 2px solid transparent;
                        border-image: linear-gradient(to right, transparent 50%, rgba(40, 80, 160, 0.6)) 1/2px;
                    }
                }
            }
        }

        .bd-switch input:checked + .bd-switch-body {
            --switch-color: rgb(40, 100, 200);
        }

        .bd-switch .bd-switch-body {
            --switch-color: rgb(60, 62, 64);
            border-radius: 4px;
        }

        .bd-switch .bd-switch-handle {
            rx: 4px
        }

        .toolsContainer-25FL6V {
            top: 20px;
            right: 10px;
            margin: 0;
            padding: 0;
            height: 60px;
            width: 40px;
            flex: 0 0 auto;

            .closeButton-PCZcma {
                height: 40px;
                width: 40px;
                flex: 0 0 auto;
                border-radius: 4px;
                color: rgba(100, 101, 102, 0.8);
                background: rgba(60, 62, 64, 0.8);

                svg {
                    color: #a0a0a0;
                }

                &:hover {
                    background: rgba(100, 101, 102, 0.8);
                }

            }

        }


        .sidebarRegion-1VBisG .sidebarRegionScroller-FXiQOh {
            background: rgba(30, 32, 34, 0.8);

            &::-webkit-scrollbar {
                background: rgba(60, 62, 64, 0.2);
            }

            &::-webkit-scrollbar-thumb {
                visibility: visible;
                background: rgba(10, 12, 14, 0.2);
                border-radius: 0;
                border: none;
            }

            .sidebar-nqHbhN {
                padding: 10px;
                width: max-content;

                .header-2Kx1US {
                    padding: 4px 10px;
                    margin: 4px 0 8px 0;
                    width: 100%;
                    font-size: 16px;
                    line-height: normal;
                    background: linear-gradient(to right, rgba(80, 82, 84, 0.4) 50%, transparent);
                    border: 2px solid transparent;
                    border-image: linear-gradient(to right, transparent 50%, rgba(80, 82, 84, 0.4)) 1/2px;
                }

                .bd-sidebar-header {
                    position: relative;

                    .bd-changelog-button {
                        position: absolute;
                        right: 10px;
                        top: 12px;
                    }

                }

                .item-3XjbnG {
                    padding: 6px 10px;
                    font-size: 14px;
                    width: 100%;
                    line-height: normal;
                    margin: 0 4px;
                    border: 2px solid transparent;
                    border-radius: 0;
                    position: relative;

                    .premiumLabel-3HPvdB {
                        position: relative;
                    }

                    .premiumLabel-3HPvdB svg {
                        top: 2px;
                        right: 0;
                    }

                    svg {
                        position: absolute;
                        right: 10px;
                        top: 6px;
                    }

                    &:hover {
                        background: linear-gradient(to right, rgba(40, 80, 160, 0.4) 50%, transparent);
                        border: 2px solid transparent;
                        border-image: linear-gradient(to right, transparent 50%, rgba(40, 80, 160, 0.4)) 1/2px;
                    }

                    &.selected-g-kMVV {
                        background: linear-gradient(to right, rgba(50, 200, 100, 0.4) 50%, transparent);
                        border: 2px solid transparent;
                        border-image: linear-gradient(to right, transparent 50%, rgba(50, 200, 100, 0.4)) 1/2px;
                    }

                    &:nth-last-of-type(4) {
                        background: linear-gradient(to right, rgba(200, 50, 50, 0.4) 50%, transparent);
                        border: 2px solid transparent;
                        border-image: linear-gradient(to right, transparent 50%, rgba(200, 50, 50, 0.4)) 1/2px;
                    }

                }

            }

        }

    }


// Popouts ========================================================================================

    // Popout - Search Popout ==================================================================================

        .option-ayUoaq:after {
            display: none;
        }

        #app-mount .focused-2FU0YH {
            background: var(--background-tertiary);
        }

        .theme-dark .searchAnswer-23w-CH,
        .theme-dark .searchFilter-2UfsDk {
            background: var(--background-secondary);
            padding: 0 4px;
        }

        .searchResultsWrap-5RVOkx {
            background: transparent;
        }

        // Popout - Memberlist UserPopout =========================================================

            .userPopout-2j1gM4 {
                background: rgba(30, 32, 34, 0.9);
            }

            .userPopout-2j1gM4 .bodyInnerWrapper-2bQs1k {
                background: transparent;
            }

            .userPopout-2j1gM4 .footer-3naVBw {
                background: transparent;
            }

        // Popout - Emoji =========================================================================

            .contentWrapper-3vHNP2 {
                --background-secondary: rgba(30, 32, 34, .9);
                --background-secondary-alt: rgba(40, 42, 44, .9);
                --background-tertiary: rgba(40, 42, 44, .9);
            }

            .navButtonActive-1EqC5l {
                background: rgba(40, 100, 200, 0.4);
            }

        // Popout - Chat Autocomplete =============================================================

            #app-mount .autocomplete-3NRXG8 {
                background: rgba(30, 32, 34, 0.9);

                .selected-3H3-RC {
                    background: rgba(40, 100, 200, 0.4);
                }

            }

        // Popout - Status Popout =================================================================

            #status-picker .description-3Cwkxk {
                display: none;
            }

        // Popout - Invite Friends Popout =========================================================

            .wrapper-3ByaVZ .footer-1hTRRZ {
                background: var(--background-secondary)
            }
