/**
  * @author Toni
  * @name MixPackEnhanced Light
  * @version 1.0
  * @description A pack that combines things I've created and liked the look of, now in Light Mode!
**/

:root {
  /* MixPack Variables */
  --Mix-Primary: 219, 217, 215;
  --Mix-Secondary: 254, 252, 250;
  --Mix-Tertiary: 184, 182, 180;
  --Mix-Background: 254, 252, 250;

  --Mix-Accent: 255, 160, 140;
  --Mix-Accent-Alt: 255, 200, 180;

  --Mix-Interactive-BG: 255, 255, 255;

  /* Discord Variables */
  --modal-background: rgba(var(--Mix-Background), 0.8);
  --background-primary: rgba(var(--Mix-Primary), 0.8);
  --background-secondary: rgba(var(--Mix-Primary), 0.6);
  --background-secondary-alt: rgba(var(--Mix-Secondary), 0.6);
  --background-tertiary: rgba(var(--Mix-Secondary), 0.5);
  --background-floating: var(--background-primary);
  --background-accent: rgba(var(--Mix-Tertiary), 0.8);

  --background-modifier-accent: rgba(var(--Mix-Tertiary), 0.6);
  --background-modifier-hover: rgba(var(--Mix-Accent), 0.4);
  --background-modifier-selected: var(--background-modifier-accent);

  --brand-experiment: rgba(var(--Mix-Accent), 0.8);
  --brand-experiment-560: var(--brand-experiment);
  --button-danger-background: rgba(200, 50, 50, 0.8);

  --interactive-normal: rgb(75, 75, 75);
  --interactive-hover: var(--text-normal);
  --interactive-active: rgb(50, 50, 50);

  --input-background: var(--background-primary);

  --modal-footer-background: rgba(var(--Mix-Primary), 0.4);

  --button-secondary-background: rgba(var(--Mix-Tertiary), 0.8);
  --button-secondary-background-hover: rgba(80, 82, 86, 0.8);

  --header-primary: rgb(35, 33, 30);
  --header-secondary: rgb(50, 50, 50);

  --text-normal: rgb(20, 17, 14);
  --text-muted: rgb(90, 100, 110);

  --channels-default: var(--text-muted);
  --channel-icon: rgba(142, 132, 128, 0.4);

  --Sidebar-Category-BG: var(--background-primary);

  /* Memberlist */
  --Memberlist-Background: rgba(var(--Mix-Tertiary), 0.2);
  --Memberlist-Header: rgba(212, 225, 238, 0.4);
  --Memberlist-Avatar: var(--modal-footer-background);
  --Memberlist-Scrollbar: var(--Memberlist-Background);
  --Memberlist-Scrollbar-Thumb: rgba(240, 240, 240, 0.4);
}


html {
  background: transparent;
}

body {
  background: transparent;
}

.appMount-2yBXZl {
  background: black url("https://i.pinimg.com/originals/00/27/1b/00271b8f67d216f16c68a4bd7fe0b92e.jpg") center/cover no-repeat;
}

.app-2CXKsg {
  background: transparent;
}

.bg-1QIAus {
  background: var(--modal-background);
}

.layer-86YKbF {
  background: transparent;
}

.chat-2ZfjoI {
  background: transparent;
}


    /* Titlebar --------------------------------------------------------------------------------------- */

.titleBar-1it3bQ::before {
  content: "MixPack";
  position: absolute;
  top: 6px;
  left: 16px;
  height: 20px;
  font-weight: 600;
  font-size: 12px;
}

.titleBar-1it3bQ::before .wordmark-2u86JB {
  display: none;
}

    /* Guild --------------------------------------------------------------------------------------- */

.guilds-2JjMmN {
  --text-normal: var(--interactive-normal);
  --brand-experiment: rgb(var(--Mix-Accent));
  background: rgba(var(--Mix-Background), 0.3);
}

.guilds-2JjMmN .scroller-3X7KbA {
  background: transparent;
}

.guilds-2JjMmN foreignObject {
  mask: none;
  border-radius: 4px;
}

.guilds-2JjMmN .wrapperSimple-Js2rIO {
  border-radius: 4px;
}

.guilds-2JjMmN .wrapper-3kah-n :is(.icon-3AqZ2e,
.guilds-2JjMmN .childWrapper-1j_1ub) {
  transition: 0.2s;
}

.guilds-2JjMmN .wrapper-3kah-n:hover :is(.icon-3AqZ2e,
.guilds-2JjMmN .childWrapper-1j_1ub) {
  border-radius: 10px;
}

.guilds-2JjMmN .numberBadge-37OJ3S {
  border-radius: 4px;
}

.guilds-2JjMmN .expandedFolderBackground-1kSAf6 {
  width: unset;
  top: 0px;
  left: 6px;
  bottom: 2px;
  right: 6px;
  border-radius: 4px;
}

    /* Sidebar --------------------------------------------------------------------------------------- */

#app-mount .sidebar-1tnWFu {
  border-radius: 0;
}

.sidebar-1tnWFu {
  background: var(--Memberlist-Background);
}

.sidebar-1tnWFu .container-1NXEtd {
  background: transparent;
}

.sidebar-1tnWFu .animatedContainer-2laTjx {
  filter: opacity(70%);
}

.sidebar-1tnWFu .scroller-1ox3I2::-webkit-scrollbar-track {
  background: var(--Memberlist-Scrollbar);
  border-radius: 0;
  margin: 0;
}

.sidebar-1tnWFu .scroller-1ox3I2::-webkit-scrollbar-thumb {
  background: var(--Memberlist-Scrollbar-Thumb);
  border-radius: 0;
  border: none;
}

    /* Categories --------------------------------------------------------------------------------------- */

.sidebar-1tnWFu .containerDefault-3TQ5YN,
.sidebar-1tnWFu .containerDragAfter-1J_-1V,
.sidebar-1tnWFu .containerDragBefore-ei4h1m,
.sidebar-1tnWFu .containerUserOver-3woq86 {
  height: 32px;
  padding: 4px 0;
}

.sidebar-1tnWFu .wrapper-1S43wv {
  height: 32px;
  padding: 0;
  display: flex;
  flex-flow: row-reverse nowrap;
  background: linear-gradient(to right, var(--Sidebar-Category-BG, var(--Memberlist-Header)) 50%, transparent);
  border: 2px solid transparent;
  border-image: linear-gradient(to right, transparent 50%, var(--Sidebar-Category-BG, var(--Memberlist-Header))) 1/2px;
}

.sidebar-1tnWFu .wrapper-1S43wv:hover {
  --Sidebar-Category-BG: var(--Memberlist-Header);
  --Sidebar-Category-Color: #eee;
}

.sidebar-1tnWFu .wrapper-1S43wv.muted-19J0ih {
  --Sidebar-Category-BG: var(--Memberlist-Header);
  --Sidebar-Category-Color: #888;
}

.sidebar-1tnWFu .wrapper-1S43wv.name-3BUDLf {
  color: var(--Sidebar-Category-Color, #ddd);
}

.sidebar-1tnWFu .wrapper-1S43wv .mainContent-uDGa6R {
  display: flex;
  flex-flow: row-reverse nowrap;
  flex: 1 1 auto;
  align-items: center;
}

.sidebar-1tnWFu .wrapper-1S43wv .mainContent-uDGa6R .arrow-2HswgU {
  position: static;
  height: 1rem;
  width: 1rem;
  padding: 4px 10px;
}

.sidebar-1tnWFu .wrapper-1S43wv .mainContent-uDGa6R .name-3BUDLf {
  font-size: 0.8rem;
  line-height: normal;
  letter-spacing: normal;
  padding: 4px 10px;
}

.sidebar-1tnWFu .wrapper-1S43wv .children-3MeUvj {
  height: 1rem;
  width: 0;
  overflow: hidden;
  transition: 0.2s linear;
}

.sidebar-1tnWFu .wrapper-1S43wv:hover .children-3MeUvj {
  width: 1rem;
  padding: 4px 10px;
}

    /* Channel Item --------------------------------------------------------------------------------------- */

.sidebar-1tnWFu .wrapper-NhbLHG {
  padding: 2px;
  height: 30px;
  display: flex;
  flex-flow: column nowrap;
}

.sidebar-1tnWFu .wrapper-NhbLHG .unread-36eUEm {
  display: none;
}

.sidebar-1tnWFu .wrapper-NhbLHG .content-1gYQeQ {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  padding: 0 2px;
  margin: 0;
  border-radius: 0;
  flex: 1 1 auto;
  align-items: center;
  background: transparent;
}

.sidebar-1tnWFu .wrapper-NhbLHG .content-1gYQeQ .mainContent-20q_Hp {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
  flex: 1 1 auto;
}

.sidebar-1tnWFu .wrapper-NhbLHG .content-1gYQeQ .mainContent-20q_Hp .iconContainer-21RCa3 {
  height: 1.2rem;
  width: 1.2rem;
  margin: 0;
  padding: 4px 10px;
}

.sidebar-1tnWFu .wrapper-NhbLHG .content-1gYQeQ .mainContent-20q_Hp .iconContainer-21RCa3 .icon-2W8DHg {
  height: 100%;
  width: 100%;
}

.sidebar-1tnWFu .wrapper-NhbLHG .content-1gYQeQ .mainContent-20q_Hp .linkTop-1W1aK6 {
  font-size: 1rem;
  line-height: normal;
  padding: 4px 8px;
  flex: 1 1 auto;
  width: 0;
}

.sidebar-1tnWFu .wrapper-NhbLHG .content-1gYQeQ .children-1MGS9G {
  height: 1.2rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.sidebar-1tnWFu .wrapper-NhbLHG .content-1gYQeQ .children-1MGS9G .iconItem-1EjiK0 {
  height: 1.2rem;
  width: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0;
  transition: 0.2s linear;
}

.sidebar-1tnWFu .wrapper-NhbLHG .content-1gYQeQ .children-1MGS9G .iconItem-1EjiK0 .actionIcon-2sw4Sl {
  height: 100%;
  width: 100%;
}

.sidebar-1tnWFu .wrapper-NhbLHG .content-1gYQeQ .children-1MGS9G .channelInfo-3jN1ay {
  display: block;
  margin: 0;
}

.sidebar-1tnWFu .wrapper-NhbLHG .content-1gYQeQ .children-1MGS9G .channelInfo-3jN1ay .mentionsBadge-3H1BKJ {
  display: flex;
  flex-flow: row nowrap;
  position: static;
}

.sidebar-1tnWFu .wrapper-NhbLHG .content-1gYQeQ .children-1MGS9G .channelInfo-3jN1ay .mentionsBadge-3H1BKJ .numberBadge-37OJ3S {
  height: unset;
  width: unset !important;
  min-height: unset;
  min-width: unset;
  background: transparent !important;
  font-size: 1rem;
  line-height: normal;
  padding: 2px 6px 2px 10px;
}

    /* Channel Item - Background --------------------------------------------------------------------------------------- */

.sidebar-1tnWFu .wrapper-NhbLHG.modeMuted-2T4MDZ {
  --Sidebar-Channel-Color: #666;
}

.sidebar-1tnWFu .wrapper-NhbLHG.modeLocked-3sToxd {
  --Sidebar-Channel-Color: #555;
}

.sidebar-1tnWFu .wrapper-NhbLHG:hover {
  --Sidebar-Channel-BG: rgba(var(--Mix-Accent-Alt), 0.4);
  --Sidebar-Channel-Color: #ddd;
}

.sidebar-1tnWFu .wrapper-NhbLHG:active {
  --Sidebar-Channel-BG: rgba(50, 100, 200, 0.5);
  --Sidebar-Channel-Color: var(--interactive-active);
}

.sidebar-1tnWFu .wrapper-NhbLHG.modeConnected-NrO4cP {
  --Sidebar-Channel-BG: rgba(100, 50, 200, 0.4);
  --Sidebar-Channel-Color: var(--interactive-active);
}

.sidebar-1tnWFu .wrapper-NhbLHG.modeUnread-3Cxepe {
  --Sidebar-Channel-BG: rgba(50, 200, 100, 0.4);
  --Sidebar-Channel-Color: var(--interactive-active);
}

.sidebar-1tnWFu .wrapper-NhbLHG.modeSelected-3DmyhH {
  --Sidebar-Channel-BG: rgba(50, 100, 200, 0.4);
  --Sidebar-Channel-Color: var(--interactive-active);
}

.sidebar-1tnWFu .wrapper-NhbLHG .channelInfo-3jN1ay:empty::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: linear-gradient(to right, var(--Sidebar-Channel-BG) 50%, transparent);
  border: 2px solid transparent;
  border-image: linear-gradient(to right, transparent 50%, var(--Sidebar-Channel-BG, transparent)) 1/2px;
}

.sidebar-1tnWFu .wrapper-NhbLHG .channelInfo-3jN1ay .mentionsBadge-3H1BKJ::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: linear-gradient(to right, rgba(240, 70, 70, 0.4) 50%, transparent);
  border: 2px solid transparent;
  border-image: linear-gradient(to right, transparent 50%, rgba(240, 70, 70, 0.4)) 1/2px;
}

.sidebar-1tnWFu .container-1Bj0eq > ul .typeThread-2Aqh6X.wrapper-NhbLHG {
  margin-left: 8px;
}

.sidebar-1tnWFu .container-1Bj0eq > ul .typeThread-2Aqh6X.wrapper-NhbLHG .link-1_kTxV {
  padding-left: 2rem;
}

    /* Channel Item - Voice Chat --------------------------------------------------------------------------------------- */

.sidebar-1tnWFu .list-2x9Cl9 {
  padding: 4px 10px;
}

.sidebar-1tnWFu .list-2x9Cl9 .draggable-S2aEx4 {
  height: 28px;
  padding: 2px 0;
}

.sidebar-1tnWFu .list-2x9Cl9 .voiceUser-3nRK-K {
  height: 100%;
}

.sidebar-1tnWFu .list-2x9Cl9 .content-1Tgc42 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  border-radius: 0;
  padding: 0 10px;
}

.sidebar-1tnWFu .list-2x9Cl9 .avatarContainer-3FF_Km {
  margin: 0;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 4px;
}

.sidebar-1tnWFu .list-2x9Cl9 .username-vAneIW {
  font-size: 1rem;
  line-height: normal;
  padding: 2px 8px;
}

.sidebar-1tnWFu .list-2x9Cl9 .icons-2mwuFp {
  display: flex;
  flex-flow: row nowrap;
  margin: 0;
}

.sidebar-1tnWFu .list-2x9Cl9 .icons-2mwuFp .iconSpacing-3rBbgf {
  display: flex;
  flex-flow: row nowrap;
  margin: 0;
}

.sidebar-1tnWFu .list-2x9Cl9 .icon-N9JZb6 {
  height: 1rem;
  width: 1rem;
  padding: 2px 4px;
}

.sidebar-1tnWFu .list-2x9Cl9 .live-1V2D-f {
  border-radius: 2px;
}

    /* Bottom Panel --------------------------------------------------------------------------------------- */

.sidebar-1tnWFu .panels-3wFtMD {
  background: transparent;
}

.sidebar-1tnWFu .panels-3wFtMD .container-YkUktl {
  height: 50px;
  margin: 0;
  padding: 0 4px;
}

.sidebar-1tnWFu .panels-3wFtMD .container-YkUktl .avatarWrapper-1B9FTW {
  margin: 0;
  height: 50px;
  width: 50px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.sidebar-1tnWFu .panels-3wFtMD .container-YkUktl .nameTag-sc-gpq {
  margin: 0;
}

.sidebar-1tnWFu .panels-3wFtMD .container-YkUktl .nameTag-sc-gpq .usernameContainer-3PPkWq {
  font-size: 0.9rem;
  line-height: normal;
}

.sidebar-1tnWFu .panels-3wFtMD .container-YkUktl .nameTag-sc-gpq .usernameContainer-3PPkWq .title-338goq {
  font-size: 0.9rem;
  line-height: normal;
  flex: 1 1 auto;
}

.sidebar-1tnWFu .panels-3wFtMD .container-YkUktl .nameTag-sc-gpq .subtext-2HDqJ7 {
  font-size: 0.8rem;
  line-height: normal;
}

.sidebar-1tnWFu .panels-3wFtMD .container-YkUktl .nameTag-sc-gpq + .flex-2S1XBF {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.sidebar-1tnWFu .panels-3wFtMD .container-YkUktl .nameTag-sc-gpq + .flex-2S1XBF .button-12Fmur {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  border-radius: 0;
}

    /* Bottom Panel - Connection Panel --------------------------------------------------------------------------------------- */

.sidebar-1tnWFu .panels-3wFtMD .container-1zzFcN {
  border: none;
  padding: 0;
}

.sidebar-1tnWFu .panels-3wFtMD .connection-3k9QeF {
  padding: 0;
}

.sidebar-1tnWFu .panels-3wFtMD .rtcConnectionStatus-c5A6Av {
  padding: 0;
}

.sidebar-1tnWFu .panels-3wFtMD .rtcConnectionStatus-c5A6Av .ping-2IpLcU {
  margin: 0;
}

.sidebar-1tnWFu .panels-3wFtMD .rtcConnectionStatus-c5A6Av .labelWrapper-1HofQ- {
  padding: 2px 4px;
}

.sidebar-1tnWFu .panels-3wFtMD .connection-3k9QeF .inner-llGtyq .channel-3prF2u {
  padding: 2px 4px;
}

.sidebar-1tnWFu .panels-3wFtMD .container-YkUktl .avatar-1EWyVD {
  border-radius: 4px;
}

.sidebar-1tnWFu .panels-3wFtMD .container-YkUktl .avatar-1EWyVD foreignObject {
  border-radius: 4px;
  mask: none;
}

    /* Sub Titlebar --------------------------------------------------------------------------------------- */

#app-mount .title-31SJ6t {
  background: var(--Memberlist-Background);
}

#app-mount .title-31SJ6t .children-3xh0VB:after {
  display: none;
}

#app-mount .title-31SJ6t .searchBar-jGtisZ {
  background: rgba(var(--Mix-Interactive-BG), 0.3);
}

    /* Chat  --------------------------------------------------------------------------------------- */

.content-1jQy2l::before {
  display: none;
}

.chatContent-3KubbW {
  background: transparent;
}

.chatContent-3KubbW .messagesWrapper-RpOMA3 {
  z-index: 1;
}

.chatContent-3KubbW .messagesWrapper-RpOMA3 .scroller-kQBbkU::-webkit-scrollbar-track {
  background: var(--Memberlist-Scrollbar);
  border-radius: 0;
  margin: 0;
}

.chatContent-3KubbW .messagesWrapper-RpOMA3 .scroller-kQBbkU::-webkit-scrollbar-thumb {
  background: var(--Memberlist-Scrollbar-Thumb);
  border-radius: 0;
  border: none;
}

.chatContent-3KubbW .messagesWrapper-RpOMA3 .scroller-kQBbkU .messageListItem-ZZ7v6g {
  --background-primary: var(--modal-background);
  --background-secondary: rgba(var(--Mix-Background), 0.6);
  --background-secondary-alt: var(--modal-background);
  --interactive-muted: #3c3e40;
  --elevation-stroke: 0 0 0 1px var(--background-primary);
  --background-mentioned: rgba(40, 80, 200, 0.2);
  --background-mentioned-hover: rgba(40, 80, 200, 0.4);
  --info-warning-foreground: rgba(40, 80, 200, 0.8);
  --brand-experiment-30a: rgba(40, 80, 200, 0.8);
  --brand-experiment-200: var(--interactive-active);
}

.chatContent-3KubbW .messagesWrapper-RpOMA3 .jumpToPresentBar-1cEnH0 {
  border-radius: 0;
  padding: 4px;
  left: 0;
  background: rgba(var(--Mix-Tertiary), 0.9);
}

.chatContent-3KubbW .messagesWrapper-RpOMA3 .newMessagesBar-1hF-9G {
  border-radius: 0;
  padding: 4px;
  left: 0;
  background: var(--brand-experiment);
}

.chatContent-3KubbW .form-3gdLxP {
  padding: 0;
  margin-top: 0;
  z-index: 1;
}

.chatContent-3KubbW .form-3gdLxP::before {
  display: none;
}

.chatContent-3KubbW .form-3gdLxP .typing-2J1mQU {
  bottom: 100%;
  left: 0;
  padding: 0 10px;
  background: rgba(26, 28, 30, 0.6);
}

.chatContent-3KubbW .channelTextArea-1VQBuV {
  background: transparent;
  margin: 0;
}

.chatContent-3KubbW .channelTextArea-1VQBuV .scrollableContainer-15eg7h {
  background: var(--Memberlist-Background);
  border-radius: 0;
  min-height: 44px;
  padding: 4px 0;
}

.chatContent-3KubbW .avatar-2e8lTP {
  border-radius: 4px;
}

    /* Memberlist --------------------------------------------------------------------------------------- */

.container-2o3qEW {
  background: transparent;
}

.members-3WRCEx {
background: var(--Memberlist-Background);
}

.members-3WRCEx::-webkit-scrollbar-track {
visibility: visible;
background: var(--Memberlist-Scrollbar);
}

.members-3WRCEx::-webkit-scrollbar-thumb {
visibility: visible;
background: var(--Memberlist-Scrollbar-Thumb);
border-radius: 0;
border: none;
}

.members-3WRCEx .content-2a4AW9 {
background: transparent;
}

/* Category --------------------------------------------------------------------------------------- */

.membersGroup-2eiWxl {
  background: linear-gradient(to right, transparent, var(--Memberlist-Header) 3%, transparent);
  height: unset;
  font-size: 0.85rem;
  line-height: normal;
  letter-spacing: 0.02rem;
  text-transform: none;
  font-weight: 500;
  margin: 0.2rem 0;
  padding: 0.3rem 0.6rem;
  color: #aaa;
}

.membersGroup-2eiWxl .roleIcon-2cey4v {
  margin: 0 0.2rem 0 0;
  padding: 0.2rem;
  height: 0.85rem;
}

/* Member Item --------------------------------------------------------------------------------------- */

.member-2gU6Ar {
  height: 44px;
  padding: 0;
  margin: 0 8px;
  max-width: unset;
}

.member-2gU6Ar .layout-1qmrhw {
  height: 44px;
  padding: 0;
  border-radius: 0;
}

.member-2gU6Ar .layout-1qmrhw:hover {
  background: transparent;
}

/* Avatar --------------------------------------------------------------------------------------- */

.avatar-6qzftW {
  margin: 0;
  height: 44px;
  width: 48px;
  background: var(--Memberlist-Avatar);
  z-index: 2;
}
  
.member-2gU6Ar .avatar-6qzftW .wrapper-3Un6-K {
  border-radius: 0;
  margin: 0 0 0 4px;
}
  
.member-2gU6Ar .avatar-6qzftW .wrapper-3Un6-K .mask-1y0tyc {
  overflow: visible;
  contain: unset;
}
  
.member-2gU6Ar .avatar-6qzftW .wrapper-3Un6-K .mask-1y0tyc foreignObject {
  mask: none;
}

/* Avatar Status --------------------------------------------------------------------------------------- */

.member-2gU6Ar .avatar-6qzftW foreignObject + rect {
  height: 44px;
  width: 4px;
  x: -8;
  y: -6;
  mask: none;
}

.member-2gU6Ar .avatar-6qzftW foreignObject + svg {
  overflow: visible;
}

.member-2gU6Ar .avatar-6qzftW foreignObject + svg rect {
  height: 44px;
  width: 4px;
  x: -22.5;
  y: -23;
  mask: none;
}

/* Typing Icon --------------------------------------------------------------------------------------- */

.member-2gU6Ar .avatar-6qzftW .dots-1BwzZQ {
  overflow: visible;
}

.member-2gU6Ar .avatar-6qzftW .dots-1BwzZQ g circle:nth-child(1) {
  cx: -10;
  cy: -14;
  r: 4;
}

.member-2gU6Ar .avatar-6qzftW .dots-1BwzZQ g circle:nth-child(2) {
  cx: -2;
  cy: 0;
  r: 4;
}

.member-2gU6Ar .avatar-6qzftW .dots-1BwzZQ g circle:nth-child(3) {
  cx: 6;
  cy: -14;
  r: 4;
}

.member-2gU6Ar:hover .content-1U25dZ .nameAndDecorators-3ERwy2 .username-i5-wv- span::before {
  opacity: 0.4;
}

/* Content --------------------------------------------------------------------------------------- */

.member-2gU6Ar .content-1U25dZ {
  padding: 0 0.4rem;
  display: flex;
  flex-flow: row wrap;
}

/* Username --------------------------------------------------------------------------------------- */

.member-2gU6Ar .content-1U25dZ .nameAndDecorators-3ERwy2 {
  z-index: 1;
  min-width: 90%;
  flex: 1 1 auto;
}

.member-2gU6Ar .content-1U25dZ .nameAndDecorators-3ERwy2 .username-i5-wv- span::before {
  content: "";
  position: absolute;
  height: 44px;
  left: 6px;
  right: 0;
  top: 0;
  background: linear-gradient(to right, currentColor 2% 50%, transparent);
  opacity: 0.2;
  z-index: -1;
}

/* Bot Tag --------------------------------------------------------------------------------------- */

.member-2gU6Ar .content-1U25dZ .content-1U25dZ .botTag-2mryIa {
  font-size: 0.4rem;
  border-radius: 4px;
  padding: 0 0.4rem 0 0.2rem;
  height: 1rem;
  margin: 0 0.4rem;
}

.member-2gU6Ar .content-1U25dZ .content-1U25dZ .botTag-2mryIa .botText-1fD6Qk {
  font-size: 0.6rem;
  line-height: normal;
  letter-spacing: 0.02rem;
  font-weight: 500;
}

.member-2gU6Ar .content-1U25dZ .content-1U25dZ .botTag-2mryIa .botText-1fD6Qk .botTagVerified-2KCPMa {
  height: 100%;
  width: auto;
  margin: 0;
}

/* Owner Tag --------------------------------------------------------------------------------------- */

.member-2gU6Ar .content-1U25dZ .ownerIcon-255uKo {
  margin: 0;
  top: unset;
  height: 1rem;
  width: auto;
}

/* Activity Text --------------------------------------------------------------------------------------- */

.member-2gU6Ar .content-1U25dZ .subText-OGOWMj {
  z-index: 1;
  margin: 0;
}

.member-2gU6Ar .content-1U25dZ .subText-OGOWMj .activity-2EQDZv {
  color: #333;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: normal;
}

.member-2gU6Ar .content-1U25dZ .subText-OGOWMj .activityText-1rR-8O {
  padding: 0 0.2rem;
}

.member-2gU6Ar .content-1U25dZ .subText-OGOWMj .activityText-1rR-8O strong {
  color: #666;
}

/* Loading --------------------------------------------------------------------------------------- */

.membersWrap-3NUR2t.hiddenMembers-8kpYM0 .members-3WRCEx {
  background: var(--Memberlist-Background);
}

/* Category --------------------------------------------------------------------------------------- */

.membersWrap-3NUR2t.hiddenMembers-8kpYM0 .membersGroup-2eiWxl .memberGroupsPlaceholder-9tqX9V {
  border-radius: 4px;
  background: var(--Memberlist-Background);
  height: 1rem;
  width: 60%;
}

/* Member Item --------------------------------------------------------------------------------------- */

.membersWrap-3NUR2t.hiddenMembers-8kpYM0 .members-3WRCEx {
  background: var(--Memberlist-Background);
}

/* Avatar --------------------------------------------------------------------------------------- */

.membersWrap-3NUR2t.hiddenMembers-8kpYM0 .placeholderAvatar-1qAcRZ {
  background: var(--Memberlist-Background);
  border-radius: 4px;
}

/* Content --------------------------------------------------------------------------------------- */

.membersWrap-3NUR2t.hiddenMembers-8kpYM0 .placeholderUsername-3iQi_D {
  background: var(--Memberlist-Background);
  border-radius: 4px;
}

/* Sidebar --------------------------------------------------------------------------------------- */

.privateChannels-oVe7HL {
  background: var(--Memberlist-Background);
}

.privateChannels-oVe7HL .searchBar-3TnChZ .searchBarComponent-3N7dCG {
  background: rgba(var(--Mix-Interactive-BG), 0.3);
  text-align: center;
}

.privateChannels-oVe7HL .selected-3veCBZ {
  background: rgba(var(--Mix-Accent-Alt), 0.4);
}

.privateChannels-oVe7HL .interactive-1vLZ_I:hover {
  background: rgba(var(--Mix-Accent-Alt), 0.4);
}

.privateChannels-oVe7HL .scroller-WSmht3 {
  background: transparent;
}

    /* Friends List --------------------------------------------------------------------------------------- */

#app-mount .container-2cd8Mz {
  background: var(--Memberlist-Background);
}

#app-mount .container-2cd8Mz .container-ZMc96U {
  background: transparent;
}

#app-mount .container-2cd8Mz .searchBar-2aylmZ {
  background: rgba(var(--Mix-Interactive-BG), 0.3);
}

#app-mount .container-2cd8Mz .peopleListItem-u6dGxF {
  border: none;
  padding: 0 10px;
}

#app-mount .container-2cd8Mz .peopleListItem-u6dGxF:nth-of-type(2n) {
  background: rgba(var(--Mix-Interactive-BG), 0.1);
}

#app-mount .container-2cd8Mz .peopleListItem-u6dGxF:hover {
  background: var(--background-primary);
}

#app-mount .container-2cd8Mz .children-3xh0VB:after {
  display: none;
}

    /* Store Page --------------------------------------------------------------------------------------- */

.applicationStore-2nk7Lo {
  background: transparent;
}

.applicationStore-2nk7Lo .headerBar-1dSpQr {
  background: rgba(var(--Mix-Tertiary), 0.35);
}

.applicationStore-2nk7Lo .headerBar-1dSpQr .children-3xh0VB:after {
  display: none;
}

.applicationStore-2nk7Lo .scroller-29cQFV {
  background: transparent;
}

.layers-OrUESM > .layer-86YKbF.animating-1rIrGV *,
.layers-OrUESM > .layer-86YKbF.animating-1rIrGV {
  pointer-events: auto !important;
  will-change: unset;
}

.layer-86YKbF.baseLayer-W6S8cY {
  opacity: 1 !important;
  transform: unset !important;
  z-index: 1;
}

.layer-86YKbF:not(.baseLayer-W6S8cY) {
  z-index: 2;
}

#app-mount .standardSidebarView-E9Pc3j {
  background: var(--modal-background);
}

#app-mount .standardSidebarView-E9Pc3j .contentRegion-3HkfJJ {
  background: transparent;
}

#app-mount .standardSidebarView-E9Pc3j .contentRegion-3HkfJJ .bar-1Bhnl9,
#app-mount .standardSidebarView-E9Pc3j .contentRegion-3HkfJJ .markDash-yk2kJ- {
  background: rgba(80, 82, 84, 0.8);
}

#app-mount .standardSidebarView-E9Pc3j .contentRegion-3HkfJJ .contentRegionScroller-2_GT_N {
  background: transparent;
}

#app-mount .standardSidebarView-E9Pc3j .contentRegion-3HkfJJ .contentRegionScroller-2_GT_N .itemFilled-2Fo7lr {
  background: linear-gradient(to right, var(--background-secondary-alt) 50%, rgba(var(--Mix-Interactive-BG), 0.2));
  border: 2px solid transparent;
  border-image: linear-gradient(to right, rgba(var(--Mix-Interactive-BG), 0.2) 50%, var(--background-secondary-alt)) 1/2px;
}

#app-mount .standardSidebarView-E9Pc3j .contentRegion-3HkfJJ .contentRegionScroller-2_GT_N .itemFilled-2Fo7lr:hover {
  background: rgba(var(--Mix-Interactive-BG), 0.6);
}

#app-mount .standardSidebarView-E9Pc3j .contentRegion-3HkfJJ .contentRegionScroller-2_GT_N .itemFilled-2Fo7lr[aria-checked=true] {
  background: linear-gradient(to right, rgba(var(--Mix-Accent-Alt), 0.6) 50%, transparent);
  border: 2px solid transparent;
  border-image: linear-gradient(to right, transparent 50%, rgba(var(--Mix-Accent-Alt), 0.6)) 1/2px;
}

#app-mount .standardSidebarView-E9Pc3j .bd-switch input:checked + .bd-switch-body {
  --switch-color: rgb(var(--Mix-Accent));
}

#app-mount .standardSidebarView-E9Pc3j .bd-switch .bd-switch-body {
  --switch-color: rgb(var(--Mix-Tertiary));
  border-radius: 4px;
}

#app-mount .standardSidebarView-E9Pc3j .bd-switch .bd-switch-handle {
  rx: 4px
}

#app-mount .standardSidebarView-E9Pc3j .toolsContainer-25FL6V {
  top: 20px;
  right: 10px;
  margin: 0;
  padding: 0;
  height: 60px;
  width: 40px;
  flex: 0 0 auto;
}

#app-mount .standardSidebarView-E9Pc3j .toolsContainer-25FL6V .closeButton-PCZcma {
  height: 40px;
  width: 40px;
  flex: 0 0 auto;
  border-radius: 4px;
  color: rgba(100, 101, 102, 0.8);
  background: var(--background-accent);
}

#app-mount .standardSidebarView-E9Pc3j .toolsContainer-25FL6V .closeButton-PCZcma svg {
  color: #a0a0a0;
}

#app-mount .standardSidebarView-E9Pc3j .toolsContainer-25FL6V .closeButton-PCZcma:hover {
  background: rgba(100, 101, 102, 0.8);
}

#app-mount .standardSidebarView-E9Pc3j .sidebarRegion-1VBisG .sidebarRegionScroller-FXiQOh {
  background: var(--background-primary);
}

#app-mount .standardSidebarView-E9Pc3j .sidebarRegion-1VBisG .sidebarRegionScroller-FXiQOh::-webkit-scrollbar {
  background: var(--Memberlist-Scrollbar);
}

#app-mount .standardSidebarView-E9Pc3j .sidebarRegion-1VBisG .sidebarRegionScroller-FXiQOh::-webkit-scrollbar-thumb {
  visibility: visible;
  background: var(--Memberlist-Scrollbar-Thumb);
  border-radius: 0;
  border: none;
}

#app-mount .standardSidebarView-E9Pc3j .sidebarRegion-1VBisG .sidebarRegionScroller-FXiQOh .sidebar-nqHbhN {
  padding: 10px;
  width: max-content;
}

#app-mount .standardSidebarView-E9Pc3j .sidebarRegion-1VBisG .sidebarRegionScroller-FXiQOh .sidebar-nqHbhN .header-2Kx1US {
  padding: 4px 10px;
  margin: 4px 0 8px 0;
  width: 100%;
  font-size: 16px;
  line-height: normal;
  background: linear-gradient(to right, var(--Memberlist-Header) 50%, transparent);
  border: 2px solid transparent;
  border-image: linear-gradient(to right, transparent 50%, var(--Memberlist-Header)) 1/2px;
}

#app-mount .standardSidebarView-E9Pc3j .sidebarRegion-1VBisG .sidebarRegionScroller-FXiQOh .sidebar-nqHbhN .bd-sidebar-header {
  position: relative;
}

#app-mount .standardSidebarView-E9Pc3j .sidebarRegion-1VBisG .sidebarRegionScroller-FXiQOh .sidebar-nqHbhN .bd-sidebar-header .bd-changelog-button {
  position: absolute;
  right: 10px;
  top: 12px;
}

#app-mount .standardSidebarView-E9Pc3j .sidebarRegion-1VBisG .sidebarRegionScroller-FXiQOh .sidebar-nqHbhN .item-3XjbnG {
  padding: 6px 10px;
  font-size: 14px;
  width: 100%;
  line-height: normal;
  margin: 0 4px;
  border: 2px solid transparent;
  border-radius: 0;
  position: relative;
}

#app-mount .standardSidebarView-E9Pc3j .sidebarRegion-1VBisG .sidebarRegionScroller-FXiQOh .sidebar-nqHbhN .item-3XjbnG .premiumLabel-3HPvdB {
  position: relative;
}

#app-mount .standardSidebarView-E9Pc3j .sidebarRegion-1VBisG .sidebarRegionScroller-FXiQOh .sidebar-nqHbhN .item-3XjbnG .premiumLabel-3HPvdB svg {
  top: 2px;
  right: 0;
}

#app-mount .standardSidebarView-E9Pc3j .sidebarRegion-1VBisG .sidebarRegionScroller-FXiQOh .sidebar-nqHbhN .item-3XjbnG svg {
  position: absolute;
  right: 10px;
  top: 6px;
}

#app-mount .standardSidebarView-E9Pc3j .sidebarRegion-1VBisG .sidebarRegionScroller-FXiQOh .sidebar-nqHbhN .item-3XjbnG:hover {
  background: linear-gradient(to right, rgba(var(--Mix-Accent-Alt), 0.4) 50%, transparent);
  border: 2px solid transparent;
  border-image: linear-gradient(to right, transparent 50%, rgba(var(--Mix-Accent-Alt), 0.4)) 1/2px;
}

#app-mount .standardSidebarView-E9Pc3j .sidebarRegion-1VBisG .sidebarRegionScroller-FXiQOh .sidebar-nqHbhN .item-3XjbnG.selected-g-kMVV {
  background: linear-gradient(to right, rgba(50, 200, 100, 0.4) 50%, transparent);
  border: 2px solid transparent;
  border-image: linear-gradient(to right, transparent 50%, rgba(50, 200, 100, 0.4)) 1/2px;
}

#app-mount .standardSidebarView-E9Pc3j .sidebarRegion-1VBisG .sidebarRegionScroller-FXiQOh .sidebar-nqHbhN .item-3XjbnG:nth-last-of-type(4) {
  background: linear-gradient(to right, rgba(200, 50, 50, 0.4) 50%, transparent);
  border: 2px solid transparent;
  border-image: linear-gradient(to right, transparent 50%, rgba(200, 50, 50, 0.4)) 1/2px;
}

    /* Search Popout --------------------------------------------------------------------------------------- */

.option-ayUoaq:after {
  display: none;
}

#app-mount .focused-2FU0YH {
  background: var(--background-tertiary);
}

.theme-dark .searchAnswer-23w-CH,
.theme-dark .searchFilter-2UfsDk {
  background: var(--background-secondary);
  padding: 0 4px;
}

.searchResultsWrap-5RVOkx {
  background: transparent;
}

    /* Memberlist UserPopout --------------------------------------------------------------------------------------- */

.userPopout-2j1gM4 {
  background: rgba(var(--Mix-Primary), 0.9);
}

.userPopout-2j1gM4 .bodyInnerWrapper-2bQs1k {
  background: transparent;
}

.userPopout-2j1gM4 .footer-3naVBw {
  background: transparent;
}

    /* Emoji --------------------------------------------------------------------------------------- */

.contentWrapper-3vHNP2 {
  --background-secondary: rgba(var(--Mix-Primary), .9);
  --background-secondary-alt: rgba(var(--Mix-Background), .9);
  --background-tertiary: rgba(var(--Mix-Background), .9);
}

.navButtonActive-1EqC5l {
  background: var(--background-modifier-hover);
}

    /* Chat Autocomplete --------------------------------------------------------------------------------------- */

#app-mount .autocomplete-3NRXG8 {
  background: rgba(var(--Mix-Primary), 0.9);
}

#app-mount .autocomplete-3NRXG8 .selected-3H3-RC {
  background: var(--background-modifier-hover);
}

    /* Status Popout --------------------------------------------------------------------------------------- */

#status-picker .description-3Cwkxk {
  display: none;
}

    /* Invite Friends Popout --------------------------------------------------------------------------------------- */

.wrapper-3ByaVZ .footer-1hTRRZ {
  background: var(--background-secondary);
}
