/**
  * @author Mixter213
  * @name MixPack 2
  * @version 1.0
  * @description A pack that combines things I've created and liked the look of.
**/
:root {
  --modal-background: rgba(40,42,44,0.8);
  --background-primary: rgba(30,32,34,0.8);
  --background-secondary: rgba(30,32,34,0.6);
  --background-secondary-alt: rgba(20,22,24,0.6);
  --background-tertiary: rgba(20,22,24,0.5);
  --background-floating: rgba(30,32,34,0.8);
  --background-accent: rgba(60,62,64,0.8);
  --background-modifier-accent: rgba(60,62,64,0.6);
  --background-modifier-hover: rgba(40,100,200,0.4);
  --background-modifier-selected: rgba(60,62,64,0.6);
  --brand-experiment: rgba(40,100,200,0.8);
  --brand-experiment-560: var(--brand-experiment);
  --button-danger-background: rgba(200,50,50,0.8);
  --interactive-normal: #c8c8c8;
  --modal-footer-background: rgba(30,32,34,0.4);
  --button-secondary-background: rgba(60,62,66,0.8);
  --button-secondary-background-hover: rgba(80,82,86,0.8);
  --Memberlist-Background: rgba(60,62,64,0.2);
  --Memberlist-Header: rgba(80,82,84,0.4);
  --Memberlist-Avatar: rgba(30,32,34,0.4);
  --Memberlist-Scrollbar: rgba(60,62,64,0.2);
  --Memberlist-Scrollbar-Thumb: rgba(30,30,30,0.4);
}
html {
  background: transparent;
}
body {
  background: transparent;
}
.appMount_fae9dd {
  background: #000 url("https://i.imgur.com/x8yXKPh.jpeg") center/cover no-repeat;
}
.app_de4237 {
  background: transparent;
}
.bg__12180 {
  background: rgba(40,42,44,0.8);
}
.layer__2efaa {
  background: transparent;
}
.chat__52833 {
  background: transparent;
}
.titleBar__01af6::before {
  content: "MixPack";
  position: absolute;
  top: 6px;
  left: 16px;
  height: 20px;
  color: #c8c8c8;
  font-weight: 600;
  font-size: 12px;
}
.titleBar__01af6::before .wordmark__0d178 {
  display: none;
}
.guilds__2b93a {
  --background-primary: rgba(30,32,34,0.8);
  --background-secondary: rgba(30,32,34,0.8);
  --text-normal: #c8c8c8;
  --brand-experiment: #2864c8;
  background: rgba(40,42,44,0.3);
}
.guilds__2b93a .scroller__3d071 {
  background: transparent;
}
.guilds__2b93a foreignObject {
  mask: none;
  border-radius: 4px;
}
.guilds__2b93a .wrapperSimple-Js2rIO {
  border-radius: 4px;
}
.guilds__2b93a .wrapper_d281dd :is(.icon__0cbed,
.guilds__2b93a .childWrapper__01b9c) {
  transition: 0.2s;
}
.guilds__2b93a .wrapper_d281dd:hover :is(.icon__0cbed,
.guilds__2b93a .childWrapper__01b9c) {
  border-radius: 10px;
}
.guilds__2b93a .numberBadge__50328 {
  border-radius: 4px;
}
.guilds__2b93a .expandedFolderBackground__1bec6 {
  width: unset;
  top: 0px;
  left: 6px;
  bottom: 2px;
  right: 6px;
  border-radius: 4px;
}
#app-mount .sidebar_ded4b5 {
  border-radius: 0;
}
.sidebar_ded4b5 {
  background: rgba(60,62,64,0.2);
}
.sidebar_ded4b5 .container__590e2 {
  background: transparent;
}
.sidebar_ded4b5 .animatedContainer__341f6 {
  filter: opacity(70%);
}
.sidebar_ded4b5 .scroller_f0f183::-webkit-scrollbar-track {
  background: rgba(60,62,64,0.2);
  border-radius: 0;
  margin: 0;
}
.sidebar_ded4b5 .scroller_f0f183::-webkit-scrollbar-thumb {
  background: rgba(10,12,14,0.3);
  border-radius: 0;
  border: none;
}
.sidebar_ded4b5 .containerDefault__23a29,
.sidebar_ded4b5 .containerDragAfter__72575,
.sidebar_ded4b5 .containerDragBefore__06455,
.sidebar_ded4b5 .containerUserOver_fe1d69 {
  height: 32px;
  padding: 4px 0;
}
.sidebar_ded4b5 .wrapper__9c483 {
  height: 32px;
  padding: 0;
  display: flex;
  flex-flow: row-reverse nowrap;
  background: linear-gradient(to right, var(--Sidebar-Category-BG, rgba(80,82,84,0.4)) 50%, transparent);
  border: 2px solid transparent;
  border-image: linear-gradient(to right, transparent 50%, var(--Sidebar-Category-BG, rgba(80,82,84,0.4))) 1/2px;
}
.sidebar_ded4b5 .wrapper__9c483:hover {
  --Sidebar-Category-BG: rgba(80,82,84,0.4);
  --Sidebar-Category-Color: #eee;
}
.sidebar_ded4b5 .wrapper__9c483.muted_de6e6e {
  --Sidebar-Category-BG: rgba(80,82,84,0.4);
  --Sidebar-Category-Color: #888;
}
.sidebar_ded4b5 .wrapper__9c483.name__590d6 {
  color: var(--Sidebar-Category-Color, #ddd);
}
.sidebar_ded4b5 .wrapper__9c483 .mainContent_a0b319 {
  display: flex;
  flex-flow: row-reverse nowrap;
  flex: 1 1 auto;
  align-items: center;
}
.sidebar_ded4b5 .wrapper__9c483 .mainContent_a0b319 .arrow_cb03b8 {
  position: static;
  height: 1rem;
  width: 1rem;
  padding: 4px 10px;
}
.sidebar_ded4b5 .wrapper__9c483 .mainContent_a0b319 .name__590d6 {
  font-size: 0.8rem;
  line-height: normal;
  letter-spacing: normal;
  padding: 4px 10px;
}
.sidebar_ded4b5 .wrapper__9c483 .children_d4d259 {
  height: 1rem;
  width: 0;
  overflow: hidden;
  transition: 0.2s linear;
}
.sidebar_ded4b5 .wrapper__9c483:hover .children_d4d259 {
  width: 1rem;
  padding: 4px 10px;
}
.sidebar_ded4b5 .wrapper__7bcde {
  padding: 2px;
  height: 30px;
  display: flex;
  flex-flow: column nowrap;
}
.sidebar_ded4b5 .wrapper__7bcde .unread__48cf4 {
  display: none;
}
.sidebar_ded4b5 .wrapper__7bcde .wrapper__7bcde {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  padding: 0 2px;
  margin: 0;
  border-radius: 0;
  flex: 1 1 auto;
  align-items: center;
  background: transparent;
}
.sidebar_ded4b5 .wrapper__7bcde .wrapper__7bcde .mainContent-20q_Hp {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
  flex: 1 1 auto;
}
.sidebar_ded4b5 .wrapper__7bcde .wrapper__7bcde .mainContent-20q_Hp .iconContainer__3f9b0 {
  height: 1.2rem;
  width: 1.2rem;
  margin: 0;
  padding: 4px 10px;
}
.sidebar_ded4b5 .wrapper__7bcde .wrapper__7bcde .mainContent-20q_Hp .iconContainer__3f9b0 .icon_eff5d4 {
  height: 100%;
  width: 100%;
}
.sidebar_ded4b5 .wrapper__7bcde .wrapper__7bcde .mainContent-20q_Hp .linkTop_eaa673 {
  font-size: 1rem;
  line-height: normal;
  padding: 4px 8px;
  flex: 1 1 auto;
  width: 0;
}
.sidebar_ded4b5 .wrapper__7bcde .wrapper__7bcde .children_a486f8 {
  height: 1.2rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.sidebar_ded4b5 .wrapper__7bcde .wrapper__7bcde .children_a486f8 .iconItem__8e3b8 {
  height: 1.2rem;
  width: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0;
  transition: 0.2s linear;
}
.sidebar_ded4b5 .wrapper__7bcde .wrapper__7bcde .children_a486f8 .iconItem__8e3b8 .actionIcon_d679b5 {
  height: 100%;
  width: 100%;
}
.sidebar_ded4b5 .wrapper__7bcde .wrapper__7bcde .children_a486f8 .channelInfo_b7ab2e {
  display: block;
  margin: 0;
}
.sidebar_ded4b5 .wrapper__7bcde .wrapper__7bcde .children_a486f8 .channelInfo_b7ab2e .mentionsBadge_c2f85b {
  display: flex;
  flex-flow: row nowrap;
  position: static;
}
.sidebar_ded4b5 .wrapper__7bcde .wrapper__7bcde .children_a486f8 .channelInfo_b7ab2e .mentionsBadge_c2f85b .numberBadge__50328 {
  height: unset;
  width: unset !important;
  min-height: unset;
  min-width: unset;
  background: transparent !important;
  font-size: 1rem;
  line-height: normal;
  padding: 2px 6px 2px 10px;
}
.sidebar_ded4b5 .wrapper__7bcde.modeMuted__0aeea {
  --Sidebar-Channel-Color: #666;
}
.sidebar_ded4b5 .wrapper__7bcde.modeLocked_fcc71a {
  --Sidebar-Channel-Color: #555;
}
.sidebar_ded4b5 .wrapper__7bcde:hover {
  --Sidebar-Channel-BG: rgba(40,80,160,0.4);
  --Sidebar-Channel-Color: #ddd;
}
.sidebar_ded4b5 .wrapper__7bcde:active {
  --Sidebar-Channel-BG: rgba(50,100,200,0.5);
  --Sidebar-Channel-Color: #fff;
}
.sidebar_ded4b5 .wrapper__7bcde.modeConnected__1c02e {
  --Sidebar-Channel-BG: rgba(100,50,200,0.4);
  --Sidebar-Channel-Color: #fff;
}
.sidebar_ded4b5 .wrapper__7bcde.modeUnread_f74c03 {
  --Sidebar-Channel-BG: rgba(50,200,100,0.4);
  --Sidebar-Channel-Color: #fff;
}
.sidebar_ded4b5 .wrapper__7bcde.modeSelected__487d6 {
  --Sidebar-Channel-BG: rgba(50,100,200,0.4);
  --Sidebar-Channel-Color: #fff;
}
.sidebar_ded4b5 .wrapper__7bcde .channelInfo_b7ab2e:empty::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: linear-gradient(to right, var(--Sidebar-Channel-BG) 50%, transparent);
  border: 2px solid transparent;
  border-image: linear-gradient(to right, transparent 50%, var(--Sidebar-Channel-BG, transparent)) 1/2px;
}
.sidebar_ded4b5 .wrapper__7bcde .channelInfo_b7ab2e .mentionsBadge_c2f85b::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: linear-gradient(to right, rgba(240,70,70,0.4) 50%, transparent);
  border: 2px solid transparent;
  border-image: linear-gradient(to right, transparent 50%, rgba(240,70,70,0.4)) 1/2px;
}
.sidebar_ded4b5 .container_f87d43 > ul .typeThread__2f91c.wrapper__7bcde {
  margin-left: 8px;
}
.sidebar_ded4b5 .container_f87d43 > ul .typeThread__2f91c.wrapper__7bcde .link__95dc0 {
  padding-left: 2rem;
}
.sidebar_ded4b5 .list__02208 {
  padding: 4px 10px;
}
.sidebar_ded4b5 .list__02208 .draggable__081c0 {
  height: 28px;
  padding: 2px 0;
}
.sidebar_ded4b5 .list__02208 .voiceUser__0470a {
  height: 100%;
}
.sidebar_ded4b5 .list__02208 .content_b60865 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  border-radius: 0;
  padding: 0 10px;
}
.sidebar_ded4b5 .list__02208 .avatarContainer__39fb5 {
  margin: 0;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 4px;
}
.sidebar_ded4b5 .list__02208 .username__73ce9 {
  font-size: 1rem;
  line-height: normal;
  padding: 2px 8px;
}
.sidebar_ded4b5 .list__02208 .icons__10dd7 {
  display: flex;
  flex-flow: row nowrap;
  margin: 0;
}
.sidebar_ded4b5 .list__02208 .icons__10dd7 .iconSpacing__59128 {
  display: flex;
  flex-flow: row nowrap;
  margin: 0;
}
.sidebar_ded4b5 .list__02208 .icon__1d60c {
  height: 1rem;
  width: 1rem;
  padding: 2px 4px;
}
.sidebar_ded4b5 .list__02208 .live_b195a5 {
  border-radius: 2px;
}
.sidebar_ded4b5 .panels__58331 {
  background: transparent;
}
.sidebar_ded4b5 .panels__58331 .container_ca50b9 {
  height: 50px;
  margin: 0;
  padding: 0 4px;
}
.sidebar_ded4b5 .panels__58331 .container_ca50b9 .avatarWrapper_ba5175 {
  margin: 0;
  height: 50px;
  width: 50px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.sidebar_ded4b5 .panels__58331 .container_ca50b9 .nameTag__0e320 {
  margin: 0;
}
.sidebar_ded4b5 .panels__58331 .container_ca50b9 .nameTag__0e320 .usernameContainer__750f9 {
  font-size: 0.9rem;
  line-height: normal;
}
.sidebar_ded4b5 .panels__58331 .container_ca50b9 .nameTag__0e320 .usernameContainer__750f9 .title__10613 {
  font-size: 0.9rem;
  line-height: normal;
  flex: 1 1 auto;
}
.sidebar_ded4b5 .panels__58331 .container_ca50b9 .nameTag__0e320 .subtext__8f869 {
  font-size: 0.8rem;
  line-height: normal;
}
.sidebar_ded4b5 .panels__58331 .container_ca50b9 .nameTag__0e320 + .flex_f5fbb7 {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
.sidebar_ded4b5 .panels__58331 .container_ca50b9 .nameTag__0e320 + .flex_f5fbb7 .button__4f306 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  border-radius: 0;
}
.sidebar_ded4b5 .panels__58331 .container_d667ff {
  border: none;
  padding: 0;
}
.sidebar_ded4b5 .panels__58331 .connection__5bb32 {
  padding: 0;
}
.sidebar_ded4b5 .panels__58331 .rtcConnectionStatus__40882 {
  padding: 0;
}
.sidebar_ded4b5 .panels__58331 .rtcConnectionStatus__40882 .ping__47992 {
  margin: 0;
}
.sidebar_ded4b5 .panels__58331 .rtcConnectionStatus__40882 .labelWrapper_a0c350 {
  padding: 2px 4px;
}
.sidebar_ded4b5 .panels__58331 .connection__5bb32 .inner_ab95dc .channel_d7d412 {
  padding: 2px 4px;
}
.sidebar_ded4b5 .panels__58331 .container_ca50b9 .avatar_f8541f {
  border-radius: 4px;
}
.sidebar_ded4b5 .panels__58331 .container_ca50b9 .avatar_f8541f foreignObject {
  border-radius: 4px;
  mask: none;
}
#app-mount .title_b7d661 {
  background: rgba(60,62,64,0.2);
}
#app-mount .title_b7d661 .children__32014:after {
  display: none;
}
#app-mount .title_b7d661 .searchBar_e0c60b {
  background: rgba(10,12,14,0.3);
}
.content__1a4fe::before {
  display: none;
}
.chatContent__5dca8 {
  background: transparent;
}
.chatContent__5dca8 .messagesWrapper_ea2b0b {
  z-index: 1;
}
.chatContent__5dca8 .messagesWrapper_ea2b0b .scroller__1f96e::-webkit-scrollbar-track {
  background: rgba(60,62,64,0.2);
  border-radius: 0;
  margin: 0;
}
.chatContent__5dca8 .messagesWrapper_ea2b0b .scroller__1f96e::-webkit-scrollbar-thumb {
  background: rgba(10,12,14,0.3);
  border-radius: 0;
  border: none;
}
.chatContent__5dca8 .messagesWrapper_ea2b0b .scroller__1f96e .messageListItem__6a4fb {
  --background-primary: rgba(40,42,44,0.8);
  --background-secondary: rgba(40,42,44,0.6);
  --background-secondary-alt: rgba(40,42,44,0.8);
  --interactive-muted: #3c3e40;
  --elevation-stroke: 0 0 0 1px rgba(30,32,34,0.8);
  --background-mentioned: rgba(40,80,200,0.2);
  --background-mentioned-hover: rgba(40,80,200,0.4);
  --info-warning-foreground: rgba(40,80,200,0.8);
  --brand-experiment-30a: rgba(40,80,200,0.8);
  --brand-experiment-200: #fff;
}
.chatContent__5dca8 .messagesWrapper_ea2b0b .jumpToPresentBar__0ff7f {
  border-radius: 0;
  padding: 4px;
  left: 0;
  background: rgba(60,62,64,0.9);
}
.chatContent__5dca8 .messagesWrapper_ea2b0b .newMessagesBar__8b6d7 {
  border-radius: 0;
  padding: 4px;
  left: 0;
  background: rgba(40,100,200,0.8);
}
.chatContent__5dca8 .form__13a2c {
  padding: 0;
  margin-top: 0;
  z-index: 1;
}
.chatContent__5dca8 .form__13a2c::before {
  display: none;
}
.chatContent__5dca8 .form__13a2c .typing__6fd1d {
  bottom: 100%;
  left: 0;
  padding: 0 10px;
  background: rgba(26,28,30,0.6);
}
.chatContent__5dca8 .channelTextArea__56a36 {
  background: transparent;
  margin: 0;
}
.chatContent__5dca8 .channelTextArea__56a36 .scrollableContainer__33e06 {
  background: rgba(60,62,64,0.2);
  border-radius: 0;
  min-height: 44px;
  padding: 4px 0;
}
.chatContent__5dca8 .avatar__08316 {
  border-radius: 4px;
}
.container_b2ce9c {
  background: transparent;
}
.members__9f47b {
  background: var(--Memberlist-Background);
}
.members__9f47b::-webkit-scrollbar-track {
  visibility: visible;
  background: var(--Memberlist-Scrollbar);
}
.members__9f47b::-webkit-scrollbar-thumb {
  visibility: visible;
  background: var(--Memberlist-Scrollbar-Thumb);
  border-radius: 0;
  border: none;
}
.members__9f47b .content-2a4AW9 {
  background: transparent;
}
.membersGroup__85843 {
  background: linear-gradient(to right, transparent, var(--Memberlist-Header) 3%, transparent);
  height: unset;
  font-size: 0.85rem;
  line-height: normal;
  letter-spacing: 0.02rem;
  text-transform: none;
  font-weight: 500;
  margin: 0.2rem 0;
  padding: 0.3rem 0.6rem;
  color: #aaa;
}
.membersGroup__85843 .roleIcon_c44248 {
  margin: 0 0.2rem 0 0;
  padding: 0.2rem;
  height: 0.85rem;
}
.member_aa4760 {
  height: 44px;
  padding: 0;
  margin: 0 8px;
  max-width: unset;
}
.member_aa4760 .layout_bb8e67 {
  height: 44px;
  padding: 0;
  border-radius: 0;
}
.member_aa4760 .layout_bb8e67:hover {
  background: transparent;
}
.member_aa4760 .avatar__6337f {
  margin: 0;
  height: 44px;
  width: 48px;
  background: var(--Memberlist-Avatar);
  z-index: 2;
}
.member_aa4760 .avatar__6337f .wrapper_edb6e0 {
  border-radius: 0;
  margin: 0 0 0 4px;
}
.member_aa4760 .avatar__6337f .wrapper_edb6e0 .mask__1979f {
  overflow: visible;
  contain: unset;
}
.member_aa4760 .avatar__6337f .wrapper_edb6e0 .mask__1979f foreignObject {
  mask: none;
}
.member_aa4760 .avatar__6337f foreignObject + rect {
  height: 44px;
  width: 4px;
  x: -8;
  y: -6;
  mask: none;
}
.member_aa4760 .avatar__6337f foreignObject + svg {
  overflow: visible;
}
.member_aa4760 .avatar__6337f foreignObject + svg rect {
  height: 44px;
  width: 4px;
  x: -22.5;
  y: -23;
  mask: none;
}
.member_aa4760 .avatar__6337f .dots-1BwzZQ {
  overflow: visible;
}
.member_aa4760 .avatar__6337f .dots-1BwzZQ g circle:nth-child(1) {
  cx: -10;
  cy: -14;
  r: 4;
}
.member_aa4760 .avatar__6337f .dots-1BwzZQ g circle:nth-child(2) {
  cx: -2;
  cy: 0;
  r: 4;
}
.member_aa4760 .avatar__6337f .dots-1BwzZQ g circle:nth-child(3) {
  cx: 6;
  cy: -14;
  r: 4;
}
.member_aa4760:hover .content_a6999d .nameAndDecorators_e34d47 .username__11d8c span::before {
  opacity: 0.4;
}
.member_aa4760 .content_a6999d {
  padding: 0 0.4rem;
  display: flex;
  flex-flow: row wrap;
}
.member_aa4760 .content_a6999d .nameAndDecorators_e34d47 {
  z-index: 1;
  min-width: 90%;
  flex: 1 1 auto;
}
.member_aa4760 .content_a6999d .nameAndDecorators_e34d47 .username__11d8c span::before {
  content: "";
  position: absolute;
  height: 44px;
  left: 6px;
  right: 0;
  top: 0;
  background: linear-gradient(to right, currentColor 2% 50%, transparent);
  opacity: 0.2;
  z-index: -1;
}
.member_aa4760 .content_a6999d .content_a6999d .botTag_a52f38 {
  font-size: 0.4rem;
  border-radius: 4px;
  padding: 0 0.4rem 0 0.2rem;
  height: 1rem;
  margin: 0 0.4rem;
}
.member_aa4760 .content_a6999d .content_a6999d .botTag_a52f38 .botText__19848 {
  font-size: 0.6rem;
  line-height: normal;
  letter-spacing: 0.02rem;
  font-weight: 500;
}
.member_aa4760 .content_a6999d .content_a6999d .botTag_a52f38 .botText__19848 .botTagVerified_a8fa0b {
  height: 100%;
  width: auto;
  margin: 0;
}
.member_aa4760 .content_a6999d .ownerIcon__827bd {
  margin: 0;
  top: unset;
  height: 1rem;
  width: auto;
}
.member_aa4760 .content_a6999d .subText_ab7e13 {
  z-index: 1;
  margin: 0;
}
.member_aa4760 .content_a6999d .subText_ab7e13 .activity__3cbac {
  color: #bbb;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: normal;
}
.member_aa4760 .content_a6999d .subText_ab7e13 .activityText__47ec1 {
  padding: 0 0.2rem;
}
.member_aa4760 .content_a6999d .subText_ab7e13 .activityText__47ec1 strong {
  color: #eee;
}
.membersWrap__90226.hiddenMembers__48fe9 .membersGroup__85843 .memberGroupsPlaceholder_d0ae46 {
  border-radius: 4px;
  background: var(--Memberlist-Background);
  height: 1rem;
  width: 60%;
}
.membersWrap__90226.hiddenMembers__48fe9 .members__9f47b {
  background: var(--Memberlist-Background);
}
.membersWrap__90226.hiddenMembers__48fe9 .placeholderAvatar__21e48 {
  background: var(--Memberlist-Background);
  border-radius: 4px;
}
.membersWrap__90226.hiddenMembers__48fe9 .placeholderUsername__7fd2c {
  background: var(--Memberlist-Background);
  border-radius: 4px;
}
.privateChannels__93473 {
  background: rgba(60,62,64,0.2);
}
.privateChannels__93473 .searchBar_e4ea2a .searchBarComponent__22760 {
  background: rgba(10,12,14,0.3);
  text-align: center;
}
.privateChannels__93473 .selected-3veCBZ {
  background: rgba(40,80,160,0.4);
}
.privateChannels__93473 .interactive-1vLZ_I:hover {
  background: rgba(40,80,160,0.4);
}
.privateChannels__93473 .scroller__4b984 {
  background: transparent;
}
#app-mount .container__5c7e7 {
  background: rgba(60,62,64,0.2);
}
#app-mount .container__5c7e7 .container__11d72 {
  background: transparent;
}
#app-mount .container__5c7e7 .searchBar_ff8800 {
  background: rgba(10,12,14,0.3);
}
#app-mount .container__5c7e7 .peopleListItem_d14722 {
  border: none;
  padding: 0 10px;
}
#app-mount .container__5c7e7 .peopleListItem_d14722:nth-of-type(2n) {
  background: rgba(10,12,14,0.1);
}
#app-mount .container__5c7e7 .peopleListItem_d14722:hover {
  background: rgba(30,32,34,0.8);
}
#app-mount .container__5c7e7 .children__32014:after {
  display: none;
}
.applicationStore_fc7d76 {
  background: transparent;
}
.applicationStore_fc7d76 .headerBar_afb1ac {
  background: rgba(60,62,64,0.35);
}
.applicationStore_fc7d76 .headerBar_afb1ac .children__32014:after {
  display: none;
}
.applicationStore_fc7d76 .scroller__244e5 {
  background: transparent;
}
.layers__1c917 > .layers__1c917 .animating__27211 *,
.layers__1c917 > .layer__2efaa .animating__27211 {
  pointer-events: auto !important;
  will-change: unset;
}
.layers__1c917 .baseLayer__8fda3 {
  opacity: 1 !important;
  transform: unset !important;
  z-index: 1;
}
.layer__2efaa {
  z-index: 2;
}
#app-mount .standardSidebarView__1129a {
  background: rgba(40,42,44,0.8);
}
#app-mount .standardSidebarView__1129a .contentRegion__0bec1 {
  background: transparent;
}
#app-mount .standardSidebarView__1129a .contentRegion__0bec1 .bar-1Bhnl9,
#app-mount .standardSidebarView__1129a .contentRegion__0bec1 .markDash-yk2kJ- {
  background: rgba(80,82,84,0.8);
}
#app-mount .standardSidebarView__1129a .contentRegion__0bec1 .contentRegionScroller__86c79 {
  background: transparent;
}
#app-mount .standardSidebarView__1129a .contentRegion__0bec1 .contentRegionScroller__86c79 .itemFilled-1cPbtg {
  background: linear-gradient(to right, rgba(20,22,24,0.6) 50%, rgba(10,12,14,0.2));
  border: 2px solid transparent;
  border-image: linear-gradient(to right, rgba(10,12,14,0.2) 50%, rgba(20,22,24,0.6)) 1/2px;
}
#app-mount .standardSidebarView__1129a .contentRegion__0bec1 .contentRegionScroller__86c79 .itemFilled-1cPbtg:hover {
  background: rgba(10,12,14,0.6);
}
#app-mount .standardSidebarView__1129a .contentRegion__0bec1 .contentRegionScroller__86c79 .itemFilled-1cPbtg[aria-checked=true] {
  background: linear-gradient(to right, rgba(40,80,160,0.6) 50%, transparent);
  border: 2px solid transparent;
  border-image: linear-gradient(to right, transparent 50%, rgba(40,80,160,0.6)) 1/2px;
}
#app-mount .standardSidebarView__1129a .bd-switch input:checked + .bd-switch-body {
  --switch-color: #2864c8;
}
#app-mount .standardSidebarView__1129a .bd-switch .bd-switch-body {
  --switch-color: #3c3e40;
  border-radius: 4px;
}
#app-mount .standardSidebarView__1129a .bd-switch .bd-switch-handle {
  rx: 4px;
}
#app-mount .standardSidebarView__1129a .toolsContainer_f5d55d {
  top: 20px;
  right: 10px;
  margin: 0;
  padding: 0;
  height: 60px;
  width: 40px;
  flex: 0 0 auto;
}
#app-mount .standardSidebarView__1129a .toolsContainer_f5d55d .closeButton__34341 {
  height: 40px;
  width: 40px;
  flex: 0 0 auto;
  border-radius: 4px;
  color: rgba(100,101,102,0.8);
  background: rgba(60,62,64,0.8);
}
#app-mount .standardSidebarView__1129a .toolsContainer_f5d55d .closeButton__34341 svg {
  color: #a0a0a0;
}
#app-mount .standardSidebarView__1129a .toolsContainer_f5d55d .closeButton__34341:hover {
  background: rgba(100,101,102,0.8);
}
#app-mount .standardSidebarView__1129a .sidebarRegion__60457 .sidebarRegionScroller__1fa7e {
  background: rgba(30,32,34,0.8);
}
#app-mount .standardSidebarView__1129a .sidebarRegion__60457 .sidebarRegionScroller__1fa7e::-webkit-scrollbar {
  background: rgba(60,62,64,0.2);
}
#app-mount .standardSidebarView__1129a .sidebarRegion__60457 .sidebarRegionScroller__1fa7e::-webkit-scrollbar-thumb {
  visibility: visible;
  background: rgba(10,12,14,0.2);
  border-radius: 0;
  border: none;
}
#app-mount .standardSidebarView__1129a .sidebarRegion__60457 .sidebarRegionScroller__1fa7e .sidebar__9e3e2 {
  padding: 10px;
  width: max-content;
}
#app-mount .standardSidebarView__1129a .sidebarRegion__60457 .sidebarRegionScroller__1fa7e .sidebar__9e3e2 .header-2Kx1US {
  padding: 4px 10px;
  margin: 4px 0 8px 0;
  width: 100%;
  font-size: 16px;
  line-height: normal;
  background: linear-gradient(to right, rgba(80,82,84,0.4) 50%, transparent);
  border: 2px solid transparent;
  border-image: linear-gradient(to right, transparent 50%, rgba(80,82,84,0.4)) 1/2px;
}
#app-mount .standardSidebarView__1129a .sidebarRegion__60457 .sidebarRegionScroller__1fa7e .sidebar__9e3e2 .bd-sidebar-header {
  position: relative;
}
#app-mount .standardSidebarView__1129a .sidebarRegion__60457 .sidebarRegionScroller__1fa7e .sidebar__9e3e2 .bd-sidebar-header .bd-changelog-button {
  position: absolute;
  right: 10px;
  top: 12px;
}
#app-mount .standardSidebarView__1129a .sidebarRegion__60457 .sidebarRegionScroller__1fa7e .sidebar__9e3e2 .item-3XjbnG {
  padding: 6px 10px;
  font-size: 14px;
  width: 100%;
  line-height: normal;
  margin: 0 4px;
  border: 2px solid transparent;
  border-radius: 0;
  position: relative;
}
#app-mount .standardSidebarView__1129a .sidebarRegion__60457 .sidebarRegionScroller__1fa7e .sidebar__9e3e2 .item-3XjbnG .premiumLabel_f2cd55 {
  position: relative;
}
#app-mount .standardSidebarView__1129a .sidebarRegion__60457 .sidebarRegionScroller__1fa7e .sidebar__9e3e2 .item-3XjbnG .premiumLabel_f2cd55 svg {
  top: 2px;
  right: 0;
}
#app-mount .standardSidebarView__1129a .sidebarRegion__60457 .sidebarRegionScroller__1fa7e .sidebar__9e3e2 .item-3XjbnG svg {
  position: absolute;
  right: 10px;
  top: 6px;
}
#app-mount .standardSidebarView__1129a .sidebarRegion__60457 .sidebarRegionScroller__1fa7e .sidebar__9e3e2 .item-3XjbnG:hover {
  background: linear-gradient(to right, rgba(40,80,160,0.4) 50%, transparent);
  border: 2px solid transparent;
  border-image: linear-gradient(to right, transparent 50%, rgba(40,80,160,0.4)) 1/2px;
}
#app-mount .standardSidebarView__1129a .sidebarRegion__60457 .sidebarRegionScroller__1fa7e .sidebar__9e3e2 .item-3XjbnG.selected-g-kMVV {
  background: linear-gradient(to right, rgba(50,200,100,0.4) 50%, transparent);
  border: 2px solid transparent;
  border-image: linear-gradient(to right, transparent 50%, rgba(50,200,100,0.4)) 1/2px;
}
#app-mount .standardSidebarView__1129a .sidebarRegion__60457 .sidebarRegionScroller__1fa7e .sidebar__9e3e2 .item-3XjbnG:nth-last-of-type(4) {
  background: linear-gradient(to right, rgba(200,50,50,0.4) 50%, transparent);
  border: 2px solid transparent;
  border-image: linear-gradient(to right, transparent 50%, rgba(200,50,50,0.4)) 1/2px;
}
.option_b5597b:after {
  display: none;
}
#app-mount .focused_f9cf2c {
  background: var(--background-tertiary);
}
.theme-dark .searchAnswer_b452e7,
.theme-dark .searchFilter__118cb {
  background: var(--background-secondary);
  padding: 0 4px;
}
.searchResultsWrap__9f374 {
  background: transparent;
}
.userPopout-2j1gM4 {
  background: rgba(30,32,34,0.9);
}
.userPopout-2j1gM4 .bodyInnerWrapper-2bQs1k {
  background: transparent;
}
.userPopout-2j1gM4 .footer-3naVBw {
  background: transparent;
}
.contentWrapper__321ed {
  --background-secondary: rgba(30,32,34,0.9);
  --background-secondary-alt: rgba(40,42,44,0.9);
  --background-tertiary: rgba(40,42,44,0.9);
}
.navButtonActive__735cb {
  background: rgba(40,100,200,0.4);
}
#app-mount .autocomplete_df266d {
  background: rgba(30,32,34,0.9);
}
#app-mount .autocomplete_df266d .selected-3H3-RC {
  background: rgba(40,100,200,0.4);
}
#status-picker .description__76091 {
  display: none;
}
.wrapper-3ByaVZ .footer-1hTRRZ {
  background: var(--background-secondary);
}
