/**
  * @author Mixter213
  * @name MixPack 2
  * @version 1.0
  * @description A pack that combines things I've created and liked the look of.
**/


// Main ===========================================================================================

    :root {

        // Discord Variables ======================================================================
        --modal-background: rgba(40, 42, 44, .8);
        --background-primary: rgba(30, 32, 34, .8);
        --background-secondary: rgba(30, 32, 34, .6);
        --background-secondary-alt: rgba(20, 22, 24, .6);
        --background-tertiary: rgba(20, 22, 24, .5);
        --background-floating: rgba(30, 32, 34, .8);
        --background-accent: rgba(60, 62, 64, .8);

        --background-modifier-accent: rgba(60, 62, 64, .6);
        --background-modifier-hover: rgba(40, 100, 200, .4);
        --background-modifier-selected: rgba(60, 62, 64, .6);

        --brand-experiment: rgba(40, 100, 200, .8);
        --brand-experiment-560: var(--brand-experiment);
        --button-danger-background: rgba(200, 50, 50, .8);
        --interactive-normal: rgb(200, 200, 200);
        --modal-footer-background: rgba(30, 32, 34, 0.4);

        --button-secondary-background: rgba(60, 62, 66, .8);
        --button-secondary-background-hover: rgba(80, 82, 86, .8);

        // MixPack Variables ======================================================================

        // Variables - Memberlist =================================================================
        --Memberlist-Background: rgba(60, 62, 64, .2);
        --Memberlist-Header: rgba(80, 82, 84, .4);
        --Memberlist-Avatar: rgba(30, 32, 34, .4);
        --Memberlist-Scrollbar: rgba(60, 62, 64, .2);
        --Memberlist-Scrollbar-Thumb: rgba(30, 30, 30, .4);
    }


    html {
        background: transparent;
    }

    body {
        background: transparent;
    }

    .appMount_fae9dd {
        background: black url("https://i.imgur.com/x8yXKPh.jpeg") center/cover no-repeat;
    }

    .app_de4237 {
        background: transparent;
    }

    .bg__12180 {
        background: rgba(40, 42, 44, 0.8);
    }

    .layer__2efaa  {
        background: transparent;
    }

    .chat__52833 {
        background: transparent;
    }


// Titlebar =======================================================================================

    .titleBar__01af6::before {
        content: "MixPack";
        position: absolute;
        top: 6px;
        left: 16px;
        height: 20px;
        color: #c8c8c8;
        font-weight: 600;
        font-size: 12px;

        .wordmark__0d178 {
            display: none;
        }
    }



// Guild ==========================================================================================

    .guilds__2b93a {
        --background-primary: rgba(30, 32, 34, .8);
        --background-secondary: rgba(30, 32, 34, .8);
        --text-normal: rgb(200, 200, 200);
        --brand-experiment: rgb(40, 100, 200);
        background: rgba(40, 42, 44, 0.3);

        .scroller__3d071 {
            background: transparent;
        }

        foreignObject {
            mask: none;
            border-radius: 4px;
        }

        .wrapperSimple-Js2rIO {
            border-radius: 4px;
        }

        .wrapper_d281dd :is(.icon__0cbed, .childWrapper__01b9c) {
            transition: 0.2s;
        }

        .wrapper_d281dd:hover :is(.icon__0cbed, .childWrapper__01b9c) {
            border-radius: 10px;
        }

        .numberBadge__50328 {
            border-radius: 4px;
        }

        .expandedFolderBackground__1bec6 {
            width: unset;
            top: 0px;
            left:6px;
            bottom: 2px;
            right: 6px;
            border-radius: 4px;  
        }
    }

// Sidebar ========================================================================================

    #app-mount .sidebar_ded4b5 {
    border-radius: 0;
    }

    // Sidebar - List

        .sidebar_ded4b5 {
            background: rgba(60, 62, 64, 0.2);

            .container__590e2 {
                background: transparent;
            }

            .animatedContainer__341f6 {
                filter: opacity(70%);
            }

            .scroller_f0f183::-webkit-scrollbar-track {
                background: rgba(60, 62, 64, 0.2);
                border-radius: 0;
                margin: 0;
            }

            .scroller_f0f183::-webkit-scrollbar-thumb {
                background: rgba(10, 12, 14, 0.3);
                border-radius: 0;
                border: none;
            }

            // Sidebar - Categories ===============================================================
                .containerDefault__23a29,
                .containerDragAfter__72575,
                .containerDragBefore__06455,
                .containerUserOver_fe1d69 {
                    height: 32px;
                    padding: 4px 0;
                }

                .wrapper__9c483 {
                    height: 32px;
                    padding: 0;
                    display: flex;
                    flex-flow: row-reverse nowrap;
                    background: linear-gradient(to right, var(--Sidebar-Category-BG, rgba(80, 82, 84, 0.4)) 50%, transparent);
                    border: 2px solid transparent;
                    border-image: linear-gradient(to right, transparent 50%, var(--Sidebar-Category-BG, rgba(80, 82, 84, 0.4))) 1/2px;

                    &:hover {
                        --Sidebar-Category-BG: rgba(80, 82, 84, .4);
                        --Sidebar-Category-Color: #eee;
                    }

                    &.muted_de6e6e {
                        --Sidebar-Category-BG: rgba(80, 82, 84, .4);
                        --Sidebar-Category-Color: #888;
                    }

                    &.name__590d6 {
                        color: var(--Sidebar-Category-Color, #ddd);
                    }

                    .mainContent_a0b319 {
                        display: flex;
                        flex-flow: row-reverse nowrap;
                        flex: 1 1 auto;
                        align-items: center;

                        .arrow_cb03b8 {
                            position: static;
                            height: 1rem;
                            width: 1rem;
                            padding: 4px 10px;
                        }

                        .name__590d6 {
                            font-size: 0.8rem;
                            line-height: normal;
                            letter-spacing: normal;
                            padding: 4px 10px;
                        }
                    }

                    // Categories - Extra Buttons =================================================

                    .children_d4d259 {
                        height: 1rem;
                        width: 0;
                        overflow: hidden;
                        transition: 0.2s linear;
                    }

                    &:hover .children_d4d259 {
                        width: 1rem;
                        padding: 4px 10px;
                    }

                }

            // Channel Item =======================================================================

                .wrapper__7bcde {
                    padding: 2px;
                    height: 30px;
                    display: flex;
                    flex-flow: column nowrap;

                    .unread__48cf4 {
                        display: none;
                    }

                    .wrapper__7bcde {
                        display: flex;
                        flex-direction: row-reverse;
                        flex-wrap: nowrap;
                        padding: 0 2px;
                        margin: 0;
                        border-radius: 0;
                        flex: 1 1 auto;
                        align-items: center;
                        background: transparent;

                        .mainContent-20q_Hp {
                            display: flex;
                            flex-direction: row-reverse;
                            flex-wrap: nowrap;
                            padding: 0;
                            margin: 0;
                            flex: 1 1 auto;

                            .iconContainer__3f9b0 {
                                height: 1.2rem;
                                width: 1.2rem;
                                margin: 0;
                                padding: 4px 10px;
                            }

                            .iconContainer__3f9b0 .icon_eff5d4 {
                                height: 100%;
                                width: 100%;
                            }

                            .linkTop_eaa673 {
                                font-size: 1rem;
                                line-height: normal;
                                padding: 4px 8px;
                                flex: 1 1 auto;
                                width: 0;
                            }

                        }

                        .children_a486f8 {
                            height: 1.2rem;
                            overflow: hidden;
                            display: flex;
                            flex-direction: row;
                            flex-wrap: nowrap;

                            .iconItem__8e3b8 {
                                height: 1.2rem;
                                width: 0;
                                display: flex;
                                flex-direction: row;
                                flex-wrap: nowrap;
                                padding: 0;
                                transition: 0.2s linear;

                                .actionIcon_d679b5 {
                                    height: 100%;
                                    width: 100%;
                                }
                            }

                            .channelInfo_b7ab2e {
                                display: block;
                                margin: 0;

                                .mentionsBadge_c2f85b {
                                    display: flex;
                                    flex-flow: row nowrap;
                                    position: static;

                                    .numberBadge__50328 {
                                        height: unset;
                                        width: unset !important;
                                        min-height: unset;
                                        min-width: unset;
                                        background: transparent !important;
                                        font-size: 1rem;
                                        line-height: normal;
                                        padding: 2px 6px 2px 10px;
                                    }
                                }
                            }
                        }
                    }

                // Channel Item - Backgrounds

                    &.modeMuted__0aeea {
                        --Sidebar-Channel-Color: #666;
                    }

                    &.modeLocked_fcc71a {
                        --Sidebar-Channel-Color: #555;
                    }

                    &:hover {
                        --Sidebar-Channel-BG: rgba(40, 80, 160, .4);
                        --Sidebar-Channel-Color: #ddd;
                    }

                    &:active {
                        --Sidebar-Channel-BG: rgba(50, 100, 200, .5);
                        --Sidebar-Channel-Color: #fff;
                    }

                    &.modeConnected__1c02e {
                        --Sidebar-Channel-BG: rgba(100, 50, 200, .4);
                        --Sidebar-Channel-Color: #fff;
                    }

                    &.modeUnread_f74c03 {
                        --Sidebar-Channel-BG: rgba(50, 200, 100, .4);
                        --Sidebar-Channel-Color: #fff;
                    }

                    &.modeSelected__487d6 {
                        --Sidebar-Channel-BG: rgba(50, 100, 200, .4);
                        --Sidebar-Channel-Color: #fff;
                    }

                    .channelInfo_b7ab2e:empty::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        z-index: -1;
                        background: linear-gradient(to right, var(--Sidebar-Channel-BG) 50%, transparent);
                        border: 2px solid transparent;
                        border-image: linear-gradient(to right, transparent 50%, var(--Sidebar-Channel-BG, transparent)) 1/2px;
                    }

                    .channelInfo_b7ab2e .mentionsBadge_c2f85b::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        z-index: -1;
                        background: linear-gradient(to right, rgba(240, 70, 70, 0.4) 50%, transparent);
                        border: 2px solid transparent;
                        border-image: linear-gradient(to right, transparent 50%, rgba(240, 70, 70, 0.4)) 1/2px;
                    }

                }

                // Channel Item - Forums ==========================================================

                    .container_f87d43 > ul {

                        .typeThread__2f91c.wrapper__7bcde {
                            margin-left: 8px;

                            .link__95dc0 {
                                padding-left: 2rem    
                            }
                        }

                    }

                // Channel Item - Voice Chat ======================================================

                .list__02208 {
                    padding: 4px 10px;

                    .draggable__081c0 {
                        height: 28px;
                        padding: 2px 0;
                    }

                    .voiceUser__0470a {
                        height: 100%;
                    }

                    .content_b60865 {
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: flex-start;
                        align-items: center;
                        margin: 0;
                        border-radius: 0;
                        padding: 0 10px;
                    }

                    .avatarContainer__39fb5 {
                        margin: 0;
                        height: 1.2rem;
                        width: 1.2rem;
                        border-radius: 4px;
                    }

                    .username__73ce9 {
                        font-size: 1rem;
                        line-height: normal;
                        padding: 2px 8px;
                    }

                    .icons__10dd7 {
                        display: flex;
                        flex-flow: row nowrap;
                        margin: 0;
                    }

                    .icons__10dd7 .iconSpacing__59128 {
                        display: flex;
                        flex-flow: row nowrap;
                        margin: 0;
                    }

                    .icon__1d60c {
                        height: 1rem;
                        width: 1rem;
                        padding: 2px 4px;
                    }

                    .live_b195a5 {
                        border-radius: 2px;
                    }

                }

    // Bottom Panel ===============================================================================

            .panels__58331 {
                background: transparent;

                .container_ca50b9 {
                    height: 50px;
                    margin: 0;
                    padding: 0 4px;


                    .avatarWrapper_ba5175 {
                        margin: 0;
                        height: 50px;
                        width: 50px;
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: center;
                        align-items: center;
                    }

                    .nameTag__0e320 {
                        margin: 0;

                        .usernameContainer__750f9 {
                            font-size: 0.9rem;
                            line-height: normal;

                            .title__10613 {
                                font-size: 0.9rem;
                                line-height: normal;
                                flex: 1 1 auto;
                            }
                        }

                        .subtext__8f869 {
                            font-size: 0.8rem;
                            line-height: normal;
                        }

                        & + .flex_f5fbb7 {
                            display: flex;
                            flex-flow: row nowrap;
                            align-items: center;
                            justify-content: center;
                        }

                        & + .flex_f5fbb7 .button__4f306 {
                            display: flex;
                            flex-flow: row nowrap;
                            justify-content: center;
                            align-items: center;
                            height: 32px;
                            width: 32px;
                            border-radius: 0;
                        }
                    }
                }

                // Bottom Panel - Connection Panel ================================================

                .container_d667ff {
                    border: none;
                    padding: 0;
                }

                .connection__5bb32 {
                    padding: 0;
                }

                .rtcConnectionStatus__40882 {
                    padding: 0;

                    .ping__47992 {
                        margin: 0;
                    }

                    .labelWrapper_a0c350 {
                        padding: 2px 4px;
                    }
                }

                .connection__5bb32 .inner_ab95dc .channel_d7d412 {
                    padding: 2px 4px;
                }

                .container_ca50b9 .avatar_f8541f {
                    border-radius: 4px
                }

                .container_ca50b9 .avatar_f8541f foreignObject {
                    border-radius: 4px;
                    mask: none;
                }
            }

        }


// Chat Titlebar ==================================================================================

    #app-mount .title_b7d661 {
        background: rgba(60, 62, 64, 0.2);

        .children__32014:after {
            display: none;
        }

        .searchBar_e0c60b {
            background: rgba(10, 12, 14, 0.3);
        }
    }

// Chat ===========================================================================================

    .content__1a4fe::before {
        display: none;
    }

    .chatContent__5dca8 {
        background: transparent;

        .messagesWrapper_ea2b0b {
            z-index: 1

            .scroller__1f96e::-webkit-scrollbar-track {
                background: rgba(60, 62, 64, 0.2);
                border-radius: 0;
                margin: 0;
            }

            .scroller__1f96e::-webkit-scrollbar-thumb {
                background: rgba(10, 12, 14, 0.3);
                border-radius: 0;
                border: none;
            }

            .scroller__1f96e .messageListItem__6a4fb {
                --background-primary: rgba(40, 42, 44, .8);
                --background-secondary: rgba(40, 42, 44, .6);
                --background-secondary-alt: rgba(40, 42, 44, .8);
                --interactive-muted: rgb(60, 62, 64);
                --elevation-stroke: 0 0 0 1px rgba(30, 32, 34, 0.8);
                --background-mentioned: rgba(40, 80, 200, .2);
                --background-mentioned-hover: rgba(40, 80, 200, .4);
                --info-warning-foreground: rgba(40, 80, 200, .8);
                --brand-experiment-30a: rgba(40, 80, 200, .8);
                --brand-experiment-200: white;
            }

            .jumpToPresentBar__0ff7f {
                border-radius: 0;
                padding: 4px;
                left: 0;
                background: rgba(60, 62, 64, 0.9);
            }

            .newMessagesBar__8b6d7 {
                border-radius: 0;
                padding: 4px;
                left: 0;
                background: rgba(40, 100, 200, 0.8);
            }
        }

        .form__13a2c {
            padding: 0;
            margin-top: 0;
            z-index: 1;

            &::before {
                display: none;
            }

            .typing__6fd1d {
                bottom: 100%;
                left: 0;
                padding: 0 10px;
                background: rgba(26, 28, 30, 0.6);
            }

        }

        .channelTextArea__56a36 {
            background: transparent;
            margin: 0;

            .scrollableContainer__33e06 {
                background: rgba(60, 62, 64, 0.2);
                border-radius: 0;
                min-height: 44px;
                padding: 4px 0;
            }

        }

        .avatar__08316 {
            border-radius: 4px
        }
    }

// Memberlist =====================================================================================

    .container_b2ce9c {
    background: transparent;
    }

    .members__9f47b {
        background: var(--Memberlist-Background);

        &::-webkit-scrollbar-track {
            visibility: visible;
            background: var(--Memberlist-Scrollbar);
        }

        &::-webkit-scrollbar-thumb {
            visibility: visible;
            background: var(--Memberlist-Scrollbar-Thumb);
            border-radius: 0;
            border: none;
        }

        .content-2a4AW9 {
            background: transparent;
        }

    }

    // Memberlist - Category ======================================================================

        .membersGroup__85843 {
            background: linear-gradient(to right, transparent, var(--Memberlist-Header) 3%, transparent);
            height: unset;
            font-size: 0.85rem;
            line-height: normal;
            letter-spacing: 0.02rem;
            text-transform: none;
            font-weight: 500;
            margin: 0.2rem 0;
            padding: 0.3rem 0.6rem;
            color: #aaa;

            .roleIcon_c44248 {
                margin: 0 0.2rem 0 0;
                padding: 0.2rem;
                height: 0.85rem;
            }
        }

    // Memberlist - Members =======================================================================

        .member_aa4760 {
            height: 44px;
            padding: 0;
            margin: 0 8px;
            max-width: unset;

            .layout_bb8e67 {
                height: 44px;
                padding: 0;
                border-radius: 0;

                &:hover {
                    background: transparent;
                }

            }

        // Members - Avatar =======================================================================

            .avatar__6337f {
                margin: 0;
                height: 44px;
                width: 48px;
                background: var(--Memberlist-Avatar);
                z-index: 2;

                .wrapper_edb6e0 {
                    border-radius: 0;
                    margin: 0 0 0 4px;

                    .mask__1979f {
                        overflow: visible;
                        contain: unset;

                        foreignObject {
                            mask: none;
                        }
                    }
                }

                // Avatars - Status ===================================================================
                    foreignObject + rect {
                        height: 44px;
                        width: 4px;
                        x: -8;
                        y: -6;
                        mask: none;
                    }

                    foreignObject + svg {
                        overflow: visible;

                        rect {
                            height: 44px;
                            width: 4px;
                            x: -22.5;
                            y: -23;
                            mask: none;
                        }
                    }

                // Avatars - Typing Icon ==============================================================
                    .dots-1BwzZQ {
                        overflow: visible;

                        g circle:nth-child(1) {
                            cx: -10;
                            cy: -14;
                            r: 4;
                        }

                        g circle:nth-child(2) {
                            cx: -2;
                            cy: 0;
                            r: 4;
                        }

                        g circle:nth-child(3) {
                            cx: 6;
                            cy: -14;
                            r: 4;
                        }

                    }

            }

        // Members - Content ======================================================================

            &:hover .content_a6999d .nameAndDecorators_e34d47 .username__11d8c span::before {
                opacity: 0.4;
            }

            .content_a6999d {
                padding: 0 0.4rem;
                display: flex;
                flex-flow: row wrap;

                // Content - Username =================================================================
                    .nameAndDecorators_e34d47 {
                        z-index: 1;
                        min-width: 90%;
                        flex: 1 1 auto;

                        .username__11d8c span::before {
                            content: "";
                            position: absolute;
                            height: 44px;
                            left: 6px;
                            right: 0;
                            top: 0;
                            background: linear-gradient(to right, currentColor 2% 50%, transparent);
                            opacity: 0.2;
                            z-index: -1;
                        }

                    }

                // Content - Bot Tag ==================================================================
                    .content_a6999d .botTag_a52f38 {
                        font-size: 0.4rem;
                        border-radius: 4px;
                        padding: 0 0.4rem 0 0.2rem;
                        height: 1rem;
                        margin: 0 0.4rem;

                        .botText__19848 {
                            font-size: 0.6rem;
                            line-height: normal;
                            letter-spacing: 0.02rem;
                            font-weight: 500;

                            .botTagVerified_a8fa0b {
                                height: 100%;
                                width: auto;
                                margin: 0
                            }

                        }

                    }

                // Content - Owner Tag ================================================================

                    .ownerIcon__827bd {
                        margin: 0;
                        top: unset;
                        height: 1rem;
                        width: auto;
                    }

                // Content - Activity Text ============================================================

                    .subText_ab7e13 {
                        z-index:  1;
                        margin: 0;

                        .activity__3cbac {
                            color: #bbb;
                            font-size: 0.75rem;
                            font-weight: 600;
                            line-height: normal;
                        }

                        .activityText__47ec1 {
                            padding: 0 0.2rem;

                            strong {
                                color: #eee;
                            }

                        }

                    }

            }

        }

    // Memberlist - Loading ======================================================================

        // Loading - Category =====================================================================

            .membersWrap__90226.hiddenMembers__48fe9 {

                .membersGroup__85843 .memberGroupsPlaceholder_d0ae46 {
                    border-radius: 4px;
                    background: var(--Memberlist-Background);
                    height: 1rem;
                    width: 60%
                }

            // Loading - Members ==================================================================

                .members__9f47b {
                    background: var(--Memberlist-Background);
                }

            // Loading - Avatar ===================================================================

                .placeholderAvatar__21e48 {
                    background: var(--Memberlist-Background);
                    border-radius: 4px;
                }

            // Loading - Content ==================================================================

                .placeholderUsername__7fd2c {
                    background: var(--Memberlist-Background);
                    border-radius: 4px;
                }

            }

// Friends Page ===================================================================================

    // Friends Page - Sidebar =========================================================================

        .privateChannels__93473 {
            background: rgba(60, 62, 64, 0.2);

            .searchBar_e4ea2a .searchBarComponent__22760 {
                background: rgba(10, 12, 14, 0.3);
                text-align: center;
            }

            .selected-3veCBZ {
                background: rgba(40, 80, 160, 0.4);
            }

            .interactive-1vLZ_I:hover {
                background: rgba(40, 80, 160, 0.4);
            }

            .scroller__4b984 {
                background: transparent;
            }

        }

    // Friends Page - Friends List --------------------------------------------------------------------------------------- */

        #app-mount .container__5c7e7 {
            background: rgba(60, 62, 64, 0.2);

            .container__11d72 {
                background: transparent;
            }

            .searchBar_ff8800 {
                background: rgba(10, 12, 14, 0.3);
            }

            .peopleListItem_d14722 {
                border: none;
                padding: 0 10px;
            }

            .peopleListItem_d14722:nth-of-type(2n) {
                background: rgba(10, 12, 14, 0.1);
            }

            .peopleListItem_d14722:hover {
                background: rgba(30, 32, 34, 0.8);
            }

            .children__32014:after {
                display: none;
            }

        }

// Store Page =====================================================================================

    .applicationStore_fc7d76 {
        background: transparent;

        .headerBar_afb1ac {
            background: rgba(60, 62, 64, 0.35);

            .children__32014:after {
                display: none;
            }
        }

        .scroller__244e5 {
            background: transparent;
        }
    }


// Settings =======================================================================================

    .layers__1c917 > .layer__2efaa .animating__27211 *,
    .layers__1c917 > .layer__2efaa .animating__27211 {
        pointer-events: auto !important;
        will-change: unset;
    }

    .layer__2efaa .baseLayer__8fda3 {
        opacity: 1 !important;
        transform: unset !important;
        z-index: 1;
    }

    .layer__2efaa :not(.baseLayer__8fda3) {
    z-index: 2;
    }

    #app-mount .standardSidebarView__1129a {
        background: rgba(40, 42, 44, 0.8);

        .contentRegion__0bec1 {
            background: transparent;

            .bar-1Bhnl9,
            .markDash-yk2kJ- {
                background: rgba(80, 82, 84, 0.8);
            }

            .contentRegionScroller__86c79 {
                background: transparent;

                .itemFilled-1cPbtg {
                    background: linear-gradient(to right, rgba(20, 22, 24, 0.6) 50%, rgba(10, 12, 14, 0.2));
                    border: 2px solid transparent;
                    border-image: linear-gradient(to right, rgba(10, 12, 14, 0.2) 50%, rgba(20, 22, 24, 0.6)) 1/2px;

                    &:hover {
                        background: rgba(10, 12, 14, 0.6);
                    }

                    &[aria-checked=true] {
                        background: linear-gradient(to right, rgba(40, 80, 160, 0.6) 50%, transparent);
                        border: 2px solid transparent;
                        border-image: linear-gradient(to right, transparent 50%, rgba(40, 80, 160, 0.6)) 1/2px;
                    }
                }
            }
        }

        .bd-switch input:checked + .bd-switch-body {
            --switch-color: rgb(40, 100, 200);
        }

        .bd-switch .bd-switch-body {
            --switch-color: rgb(60, 62, 64);
            border-radius: 4px;
        }

        .bd-switch .bd-switch-handle {
            rx: 4px
        }

        .toolsContainer_f5d55d {
            top: 20px;
            right: 10px;
            margin: 0;
            padding: 0;
            height: 60px;
            width: 40px;
            flex: 0 0 auto;

            .closeButton__34341 {
                height: 40px;
                width: 40px;
                flex: 0 0 auto;
                border-radius: 4px;
                color: rgba(100, 101, 102, 0.8);
                background: rgba(60, 62, 64, 0.8);

                svg {
                    color: #a0a0a0;
                }

                &:hover {
                    background: rgba(100, 101, 102, 0.8);
                }

            }

        }


        .sidebarRegion__60457 .sidebarRegionScroller__1fa7e {
            background: rgba(30, 32, 34, 0.8);

            &::-webkit-scrollbar {
                background: rgba(60, 62, 64, 0.2);
            }

            &::-webkit-scrollbar-thumb {
                visibility: visible;
                background: rgba(10, 12, 14, 0.2);
                border-radius: 0;
                border: none;
            }

            .sidebar__9e3e2 {
                padding: 10px;
                width: max-content;

                .header-2Kx1US {
                    padding: 4px 10px;
                    margin: 4px 0 8px 0;
                    width: 100%;
                    font-size: 16px;
                    line-height: normal;
                    background: linear-gradient(to right, rgba(80, 82, 84, 0.4) 50%, transparent);
                    border: 2px solid transparent;
                    border-image: linear-gradient(to right, transparent 50%, rgba(80, 82, 84, 0.4)) 1/2px;
                }

                .bd-sidebar-header {
                    position: relative;

                    .bd-changelog-button {
                        position: absolute;
                        right: 10px;
                        top: 12px;
                    }

                }

                .item-3XjbnG {
                    padding: 6px 10px;
                    font-size: 14px;
                    width: 100%;
                    line-height: normal;
                    margin: 0 4px;
                    border: 2px solid transparent;
                    border-radius: 0;
                    position: relative;

                    .premiumLabel_f2cd55 {
                        position: relative;
                    }

                    .premiumLabel_f2cd55 svg {
                        top: 2px;
                        right: 0;
                    }

                    svg {
                        position: absolute;
                        right: 10px;
                        top: 6px;
                    }

                    &:hover {
                        background: linear-gradient(to right, rgba(40, 80, 160, 0.4) 50%, transparent);
                        border: 2px solid transparent;
                        border-image: linear-gradient(to right, transparent 50%, rgba(40, 80, 160, 0.4)) 1/2px;
                    }

                    &.selected-g-kMVV {
                        background: linear-gradient(to right, rgba(50, 200, 100, 0.4) 50%, transparent);
                        border: 2px solid transparent;
                        border-image: linear-gradient(to right, transparent 50%, rgba(50, 200, 100, 0.4)) 1/2px;
                    }

                    &:nth-last-of-type(4) {
                        background: linear-gradient(to right, rgba(200, 50, 50, 0.4) 50%, transparent);
                        border: 2px solid transparent;
                        border-image: linear-gradient(to right, transparent 50%, rgba(200, 50, 50, 0.4)) 1/2px;
                    }

                }

            }

        }

    }


// Popouts ========================================================================================

    // Popout - Search Popout ==================================================================================

        .option_b5597b:after {
            display: none;
        }

        #app-mount .focused_f9cf2c {
            background: var(--background-tertiary);
        }

        .theme-dark .searchAnswer_b452e7,
        .theme-dark .searchFilter__118cb {
            background: var(--background-secondary);
            padding: 0 4px;
        }

        .searchResultsWrap__9f374 {
            background: transparent;
        }

        // Popout - Memberlist UserPopout =========================================================

            .userPopout-2j1gM4 {
                background: rgba(30, 32, 34, 0.9);
            }

            .userPopout-2j1gM4 .bodyInnerWrapper-2bQs1k {
                background: transparent;
            }

            .userPopout-2j1gM4 .footer-3naVBw {
                background: transparent;
            }

        // Popout - Emoji =========================================================================

            .contentWrapper__321ed {
                --background-secondary: rgba(30, 32, 34, .9);
                --background-secondary-alt: rgba(40, 42, 44, .9);
                --background-tertiary: rgba(40, 42, 44, .9);
            }

            .navButtonActive__735cb {
                background: rgba(40, 100, 200, 0.4);
            }

        // Popout - Chat Autocomplete =============================================================

            #app-mount .autocomplete_df266d {
                background: rgba(30, 32, 34, 0.9);

                .selected-3H3-RC {
                    background: rgba(40, 100, 200, 0.4);
                }

            }

        // Popout - Status Popout =================================================================

            #status-picker .description__76091 {
                display: none;
            }

        // Popout - Invite Friends Popout =========================================================

            .wrapper-3ByaVZ .footer-1hTRRZ {
                background: var(--background-secondary)
            }
