.membersWrap-2h-GB4{min-width:unset}
.members-1998pB {height:108%;padding-top:5px;padding-bottom:70px;width: 90px;transition: .2s linear}
.members-1998pB:hover{width: 240px}
.membersGroup-v9BXpm{
    height:auto;
    width:90px;
    padding:2px;
    white-space: normal;
    font-size:10px;
    line-height:10px;
    word-break: break-all;
    text-align: center;
    transition:.2s linear;
    color: rgb(200,200,200);
}
.membersWrap-2h-GB4:hover .membersGroup-v9BXpm{padding:2px 75px;width:240px}
.member-3-YXUe{width:45px;transition:.2s linear;margin:3px 0 3px 22px}
.membersWrap-2h-GB4:hover .member-3-YXUe{width:220px;margin:3px 0 3px 8px}

.activity-3mKQ-i {color: rgb(200,200,200)}
.member-3-YXUe .text-16xCj0{text-indent:-10vw;line-height:5px;}
.member-3-YXUe .text-16xCj0 strong{text-indent:0;display:block;line-height:10px}
